@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    background: #fff;
}

main{
    background: url(../img/bg-general.jpg) center;
    background-size: cover;
    padding: 0 80px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Itim', cursive;
}

p{
    font-family: 'Itim', cursive;
    font-size: 45px;
    line-height: 60px;
}

img{
    width: 100%;
}

@media (max-width:979px) {
    main{
        background: url(../img/bg-general.jpg) center;
        background-size: cover;
        padding: 0 7px;
    }
    p{
        font-family: 'Itim', cursive;
        font-size: 11.5px;
        line-height: 15px;
    }
}

/* header */
#header{
    padding: 50px 0;
}

#header .content-text{
    text-align: justify;
}

#header .title{
    padding: 0 0 100px 0;
}

@media (max-width:979px){
    #header{
        padding: 0;
    }
    #header .title{
        padding: 20px 0 20px 0;
    }
}

/* contact */
#contact{
    padding: 50px 0;
}

#contact .form-group p{
    text-align: center;
    max-width: 1100px;
    display: block;
    margin: auto;
}

#contact .form-group textarea{
    width: 100%;
    border-style: none;
    font-size: 50px;
    max-height: 150px;
    min-height: 150px;
}

#contact .form-group input{
    width: 100%;
    border-style: none;
    font-size: 70px;
}

#contact .boton{
    margin-top: 80px;
}

#contact .boton button{
    font-family: 'Itim', cursive;
    font-size: 70px;
    background: #ed1b24;
    border-style: none;
    padding: 0px 130px;
    color: #fff;
    display: block;
    margin: auto;
    box-shadow: 4px 4px 10px 0 #000;
}

@media (max-width:979px){
    #contact{
        padding: 10px 0 20px 0;
    }

    #contact .form-group textarea{
        font-size: 11px;
        max-height: 50px;
        min-height: 50px;
    }
    
    #contact .form-group input{
        font-size: 18px;
    }

    #contact .form-group p{
        max-width: 280px;
    }

    #contact .boton{
        margin-top: 30px;
    }
    
    #contact .boton button{
        font-size: 23px;
        padding: 0px 30px;
        box-shadow: 2px 2px 10px 0 #000;
    }
}

/* description */
#description{
    background: #f15e66;
    padding: 50px 80px;
    color: #fff;
}

#description .title{
    margin-bottom: 50px;
}

#description .title h4{
    font-size: 68px;
    text-align: center;
}

#description .content-text{
    text-align: justify;
}

#description .content-text p{
    margin-bottom: 50px;
}

@media (max-width:979px){
    #description{
        padding: 20px 7px;
    }
    
    #description .title{
        margin-bottom: 20px;
    }
    
    #description .title h4{
        font-size: 18px;
    }
    
    #description .content-text p{
        margin-bottom: 20px;
    }
}

/* call-to-action */
#call-to-action{
    background: url(../img/bg-general.jpg) center;
    background-size: cover;
    padding: 50px 0;
}

#call-to-action .btn{
    display: flex;
    justify-content: center;
}

#call-to-action .btn a{
    font-family: 'Itim', cursive;
    background: #feaec9;
    font-size: 90px;
    width: 890px;
    display: block;
    margin: auto;
    line-height: 90px;
    text-transform: uppercase;
    border-style: none;
    border-radius: 0;
    box-shadow: 10px 10px 20px 0 #000;
}

#call-to-action .title-bg{
    background: #f15e66;
    padding: 40px;
    color: #fff;
}

#call-to-action .title{
    max-width: 1100px;
    display: block;
    margin: auto;
}

#call-to-action .title a{
    text-decoration: none;
    color: #fff;
    font-size: 90px;
    text-align: center;
}

#call-to-action .img-tarotista{
    padding: 80px 0;
    max-width: 550px;
    display: block;
    margin: auto;
}

@media (max-width:979px){
    #call-to-action{
        padding: 20px 0;
    }
    
    #call-to-action .btn a{
        font-size: 20px;
        width: 230px;
        line-height: 25px;
        box-shadow: 5px 5px 10px 0 #000;
    }



    #call-to-action .title-bg{
        padding: 10px;
    }
    
    #call-to-action .title{
        max-width: 300px;
        text-align: center;
    }
    
    #call-to-action .title a{
        font-size: 24px;
        line-height: 10px !important;
        text-align: center;
    }
    
    #call-to-action .img-tarotista{
        padding: 30px 0;
        max-width: 170px;
    }
}

/* testimonials */
#testimonials{
    background: url(../img/bg-general.jpg) center;
    background-size: cover;
    padding: 50px 0;
}

#testimonials .title {
    margin-bottom: 100px;
}

#testimonials .title h3{
    font-size: 78px;
    text-align: center;
}

#testimonials .test-box{
    align-items: center;
}

#testimonials .test-box p{
    text-align: justify;
}

#testimonials .test-box h5{
    font-size: 65px;
    text-align: center;
    font-weight: bold;
}

@media (max-width:979px){
    #testimonials{
        padding: 20px 0;
    }
    
    #testimonials .title {
        margin-bottom: 30px;
    }
    
    #testimonials .title h3{
        font-size: 21px;
    }

    #testimonials .test-box h5{
        font-size: 13px;
    }
}