
@font-face {
    font-family: 'titulos';
    src: url(../css/fonts/Hastafi_PERSONAL_USE_ONLY.otf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'cuerpo-bold';
    src: url(../css/fonts/NexaBold.otf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'cuerpo-light';
    src: url(../css/fonts/NexaLight.otf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
body{
    background: url(../img/bg.png) center;
    background-size: cover;
    background-repeat: repeat;
}
h2{
    font-family: 'titulos';
    text-align: center;
    font-size: 75px;
    color: #00a99d;
    font-style: italic;
}
p{
    font-family: 'cuerpo-light';
}
b{
    font-family: 'cuerpo-bold';
}
.content-text{
    max-width: 1000px;
    width: 100%;
    display: block;
    margin: auto;
}
.text-color-1{
    background: #00a99e8a;
    padding: 20px 20px 20px 20px;
}
.text-color-2{
    background: #16c4be8a;
    padding: 20px 20px 20px 20px;
}
.text-color-3{
    background: linear-gradient(to top, #5FF2De8a 45%, #35D8Ce8a 45%);
    padding: 20px 20px 20px 20px;
}
.text-color-4{
    padding: 20px 20px 20px 20px;
}
.text-color-5{
    background: #9FFCEe8a;
    padding: 20px 20px 20px 20px;
}
.text-alt-bold-s{
    font-size: 57px !important;
    text-align: left !important;
    margin-bottom: 40px;
    line-height: 63px;
}
.btn{
    background: #00a99d;
    color: #fff;
    font-family: 'titulos';
    border-style: none;
    border-radius: 0;
    font-size: 90px;
    font-style: italic;
    padding: 5px 60px;
}
@media (max-width:1200px) {
    .content-text{
        max-width: 650px;
        width: 100%;
        display: block;
        margin: auto;
    }
    h2{
        font-family: 'titulos';
        text-align: center;
        font-size: 50px;
        color: #00a99d;
        font-style: italic;
    }
}
@media (max-width:767px){
    .content-text{
        max-width: 300px;
        width: 100%;
        display: block;
        margin: auto;
    }
    h2{
        font-family: 'titulos';
        text-align: center;
        font-size: 27px;
        color: #00a99d;
        font-style: italic;
    }
    h2 br{
        display: none;
    }
    .text-color-1{
        padding: 10px 10px 10px 10px;
    }
    .text-color-2{
        padding: 10px 10px 10px 10px;
    }
    .text-color-3{
        padding: 10px 10px 10px 10px;
    }
    .text-color-4{
        padding: 10px 10px 10px 10px;
    }
    .text-color-5{
        padding: 10px 10px 10px 10px;
    }
    .btn{
        background: #00a99d;
        color: #fff;
        font-family: 'titulos';
        border-style: none;
        border-radius: 0;
        font-size: 30px !important;
        font-style: italic;
        padding: 5px 10px !important;
    }
}

/* header */
header{
    padding: 0;
    position: relative;
}
header hr{
    width: 5px;
    height: 100% !important;
    position: absolute;
    left: 30px;
    top: -16px;
    color: #00a99d;
    opacity: 1;
}
header .logo {
    padding: 80px 0;
}
header .logo img{
    max-width: 900px;
    width: 100%;
    display: block;
    margin: auto;
}
header .sub-title{
    margin: 30px 0px 80px 0;
}
header .content-text p{
    font-size: 50px;
    text-align: justify;
    line-height: 58px;
}
header .p-1{
    margin-bottom: 40px;
}
header .p-2{
    margin-top: 80px;
}
header .content-text-normal .normal-p{
    margin-bottom: 60px;
}
header .boton{
    display: flex;
    justify-content: center;
    padding-bottom: 180px;
}
@media (max-width:1200px) {
    header .logo img{
        max-width: 600px;
        width: 100%;
        display: block;
        margin: auto;
    }
    header .sub-title{
        margin: 0px 0px 50px 0;
    }
    header .content-text p{
        font-size: 30px;
        text-align: justify;
        line-height: 38px;
    }
    header .p-1{
        margin-bottom: 20px;
    }
    header .p-2{
        margin-top: 40px;
    }
    header .content-text-normal .normal-p{
        margin-bottom: 30px;
    }
}
@media (max-width:767px){
    header .logo {
        padding: 30px 0;
    }
    header .logo img{
        max-width: 250px;
        width: 100%;
        display: block;
        margin: auto;
    }
    header .sub-title{
        margin: 0px 0px 20px 0;
    }
    header .content-text p{
        font-size: 16px;
        text-align: justify;
        line-height: 19px;
    }
    header .p-1{
        margin-bottom: 10px;
    }
    header .p-2{
        margin-top: 10px;
    }
    header .content-text-normal .normal-p{
        margin-bottom: 20px;
    }
    header hr{
        width: 3px;
        height: 100% !important;
        position: absolute;
        left: 10px;
        top: -16px;
        color: #00a99d;
        opacity: 1;
    }
    header .boton{
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }
}

/* modal-1 */
.modal-content{
    background: url(../img/bg.png) top;
    background-size: cover cover;
}
.modal-content .text-alt-bold-s{
    margin: 30px 0 70px 0;
    text-align: justify !important;
}
.modal-body{
    max-width: 1050px;
    width: 100%;
    display: block;
    margin: auto;
}

.modal-content{
    position: relative;
}
.modal-content p{
    font-size: 50px;
    text-align: justify;
    line-height: 58px;
    margin: 0;
    padding: 0;
}
.modal-content .text-only{
    margin-bottom: 50px !important;
}

.modal-content hr{
    width: 5px;
    height: 100%;
    position: absolute;
    left: 30px;
    top: -16px;
    color: #00a99d;
    opacity: 1;
}

.modal-content .form-group{
    margin-bottom: 50px;
    justify-content: space-between;
}
.modal-content input[type="checkbox"]{
    display: none;
}
.modal-content .form-group .off-check{
    color: #6363635d;
    font-size: 40px;
    margin-right: 20px;
    margin-top: -5px;
}
.modal-content .form-group input[type="checkbox"]:checked + .off-check{
    color: #00a99d;
    font-size: 40px;
}
.modal-content .form-final{
    padding: 80px 80px 40px 80px;
    background: linear-gradient(to top, #35D8Ce8a 20%, #16c4be8a 20% 40%, #5FF2De8a 40% 60%, #35D8Ce8a 60% 80%, #5FF2De8a 80% 100%);
}
.modal-content .form-group span{
    font-size: 50px;
    margin-right: 20px;
    font-family: 'cuerpo-light';
}
.modal-content .form-final input[type="text"]{
    border-style: none;
    font-size: 40px;
    border-radius: 50px;
    text-indent: 20px;
    font-family: 'cuerpo-light';
    width: 66%;
}
.modal-content .form-final select{
    border-style: none;
    font-size: 40px;
    border-radius: 50px;
    width: 66%;
    text-indent: 10px;
    font-family: 'cuerpo-light';
    background: #fff;
    appearance: none;
}

.modal-footer{
    display: flex;
    justify-content: center;
    border-style: none;
    padding-bottom: 60px;
}
.modal-footer .btn{
    width: 700px;
    padding: 0;
}
.btn-close{
    position: absolute;
    top: 10px;
    right: -30px;
}
@media (max-width:1200px) {
    .text-alt-bold-s{
        font-size: 37px !important;
        text-align: left !important;
        margin-bottom: 40px;
        line-height: 43px !important;
    }
    .modal-body{
        max-width: 700px;
        width: 100%;
        display: block;
        margin: auto;
    }
    .modal-content p{
        font-size: 30px;
        text-align: justify;
        line-height: 48px;
        margin: 0;
        padding: 0;
    }
    .modal-content .form-group{
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .modal-content .form-group .off-check{
        color: #6363635d;
        font-size: 25px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .modal-content .form-group input[type="checkbox"]:checked + .off-check{
        color: #00a99d;
        font-size: 25px;
    }
    .modal-content .text-alt-bold-s{
        margin: 30px 0 30px 0;
        text-align: justify !important;
    }

    .modal-content .form-group span{
        font-size: 30px;
        margin-right: 20px;
        font-family: 'cuerpo-light';
    }

    .modal-content .form-final{
        padding: 40px 80px 0px 80px;
    }
    .modal-content .form-final input[type="text"]{
        border-style: none;
        font-size: 20px;
        border-radius: 50px;
        text-indent: 20px;
        font-family: 'cuerpo-light';
        width: 66%;
    }
    .modal-content .form-final select{
        border-style: none;
        font-size: 20px;
        border-radius: 50px;
        width: 66%;
        text-indent: 10px;
        font-family: 'cuerpo-light';
        background: #fff;
        appearance: none;
    }

    .btn{
        background: #00a99d;
        color: #fff;
        font-family: 'titulos';
        border-style: none;
        border-radius: 0;
        font-size: 50px;
        font-style: italic;
        padding: 5px 60px;
    }
    .modal-footer {
        display: flex;
        justify-content: center;
        border-style: none;
        padding-bottom: 40px;
      }
    .modal-footer .btn{
        width: 400px;
        padding: 0;
    }
}
@media (max-width:767px){
    .text-alt-bold-s{
        font-size: 17px !important;
        text-align: left !important;
        margin-bottom: 20px;
        line-height: 19px !important;
    }
    .modal-body{
        max-width: 300px;
        width: 100%;
        display: block;
        margin: auto;
    }
    .modal-content hr{
        width: 3px;
        height: 100%;
        position: absolute;
        left: 10px;
        top: -16px;
        color: #00a99d;
        opacity: 1;
    }
    .modal-content p{
        font-size: 16px;
        text-align: justify;
        line-height: 18px;
        margin: 0;
        padding: 0;
    }
    .modal-content .text-only {
        margin-bottom: 30px !important;
    }
    .modal-content .form-group{
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .modal-content .form-group .off-check{
        color: #6363635d;
        font-size: 15px;
        margin-right: 5px;
        margin-top: -4px;
    }
    .modal-content .form-group input[type="checkbox"]:checked + .off-check{
        color: #00a99d;
        font-size: 25px;
    }
    .modal-content .text-alt-bold-s{
        margin: 30px 0 30px 0;
        text-align: justify !important;
    }

    .modal-content .form-group span{
        font-size: 15px;
        margin-right: 20px;
        font-family: 'cuerpo-light';
    }

    .modal-content .form-final{
        padding: 10px 10px 0px 10px;
    }
    .modal-content .form-final input[type="text"]{
        border-style: none;
        font-size: 14px;
        border-radius: 50px;
        text-indent: 20px;
        font-family: 'cuerpo-light';
        width: 66%;
    }
    .modal-content .form-final select{
        border-style: none;
        font-size: 14px;
        border-radius: 50px;
        width: 66%;
        text-indent: 10px;
        font-family: 'cuerpo-light';
        background: #fff;
        appearance: none;
    }

    .btn{
        background: #00a99d;
        color: #fff;
        font-family: 'titulos';
        border-style: none;
        border-radius: 0;
        font-size: 50px;
        font-style: italic;
        padding: 0 15px !important;
    }
    .modal-footer {
        display: flex;
        justify-content: center;
        border-style: none;
        padding-bottom: 20px;
      }
    .modal-footer .btn{
        width: 250px;
        padding: 0;
    }
    .btn-close{
        position: absolute;
        top: 10px;
        right: -10px;
    }
}

/* succesful */
.succesful .aviso-succesful{
    padding-top: 80px;
}
.succesful .title p{
    padding: 90px 0 0 0;
    text-align: center !important;
}
.succesful .aviso-succesful .text-alt-bold-s{
    margin-bottom:40px ;
}
.succesful .aviso-succesful p{
    margin-bottom: 70px;
}
.succesful .aviso-succesful .boton{
    display: flex;
    justify-content: center;
    padding: 0;
}
.succesful .aviso-succesful .btn-aviso{
    font-size: 32px !important;
    text-align: left ;
    line-height: 35px;
    max-width: 670px;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 40px;
}
.succesful .testimonial {
    margin-top: 80px;
    padding-bottom: 90px;
}
.succesful .testimonial img{
    max-width: 200px;
    width: 100%;
    display: block;
    margin: auto;
}
.succesful .testimonial p{
    font-size: 32px;
    line-height: 35px;
}
@media (max-width:1200px){
    .succesful .aviso-succesful p{
        margin-bottom: 50px;
    }
    .succesful .aviso-succesful .btn-aviso{
        font-size: 20px !important;
        text-align: left ;
        line-height: 25px;
        max-width: 425px;
        width: 100%;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .succesful .testimonial {
        margin-top: 20px;
        padding-bottom: 90px;
    }
    .succesful .title p{
        padding: 70px 0 0 0;
        text-align: center !important;
    }
    .succesful .testimonial img{
        max-width: 150px;
        width: 100%;
        display: block;
        margin: auto;
    }
    .succesful .testimonial p{
        font-size: 22px;
        line-height: 25px;
    }
}
@media (max-width:767px){
    .succesful .aviso-succesful p{
        margin-bottom: 20px;
    }
    .succesful .aviso-succesful .btn-aviso{
        font-size: 10px !important;
        text-align: left ;
        line-height: 13px;
        max-width: 215px;
        width: 100%;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
    .succesful .title p {
        padding: 30px 0 0 0;
        text-align: center !important;
      }
    .succesful .testimonial img{
        max-width: 80px;
        width: 100%;
        display: block;
        margin: auto;
    }
    .succesful .testimonial p{
        font-size: 12px;
        line-height: 15px;
    }
}