/* card */
.card{
  background: transparent;
  border-style: none;
}
.content_cards {
  grid-column: span 2;
  padding: 10px 0;
}
.cartas_sec {
  position: relative;
}
.cartas_sec .container {
  position: relative;
}
@media (max-width:900px) {
  .card-o {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
.spc_cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.spc_cards .cards {
    max-width: 750px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1vw;
  align-items: center;
}
@media (max-width:900px) {
  .spc_cards .cards {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1vw;
}
}
@media (max-width:767px){
  .spc_cards .cards {
    width: 100%;
  }
}
.spc_cards .cards .card {
  position: relative;
  width: 100%;
}
.spc_cards .cards .card .cara_carta, .spc_cards .cards .card .atras_carta {
  width: 100%;
  transition: 0.4s;
}
.spc_cards .cards .card .cara_carta {
  position: relative;
  z-index: 1;
  transform: rotateY(180deg);
}
.spc_cards .cards .card .cara_carta img {
  width: 100%;
}
.spc_cards .cards .card .atras_carta {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.spc_cards .cards .centro .atras_carta img {
  width: 110%;
}
.spc_cards .cards .card .atras_carta img {
  width: 100%;
}
.spc_cards .cards .active {
  transform: rotatez(0deg) !important;
}
.spc_cards .cards .active .cara_carta {
  z-index: 2;
  transform: rotateY(0deg);
}
.spc_cards .cards .active .atras_carta {
  z-index: 1;
  transform: rotateY(180deg);
}