@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500&display=swap');

body{
    background: #fff;
    color: #000;
}
h1, h2, h3, h5{
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    color: #534034;
    letter-spacing: 7px;
}
h4{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
*span{
    font-family: 'Raleway', sans-serif;
}
.movil{
    display: none;
}
@media (max-width:767px) {
    p{
        font-size: 9.5px;
    }
    h2{
        font-size: 15px;
        letter-spacing: 4px;
    }
    .movil{
        display: block;
    }
    .escritorio{
        display: none;
    }
}
/* header */
#header{
    text-align: center;
}
#header .tittle-bg{
    padding: 20px 0 5px 0;
    background-color: #ffeb99;
}
#header .tittle-bg h1{
    margin: 0;
    font-size: 50px;
    font-weight: lighter;
}
#header .sub-tittle{
    background-color: #fff;
    padding: 10px 0;
}
#header .sub-tittle h4{
    font-weight: lighter;
    letter-spacing: 3.2px;
}
@media (max-width:767px) {
    #header .tittle-bg h1{
        font-size: 18px;
        letter-spacing: 3px;
    }
    #header .sub-tittle{
        padding-left: 10px;
        padding-right: 10px;
    }
    #header .sub-tittle h4{
        font-size: 10px;
        letter-spacing: 3px;
    }
}

/* contact */
#contact{
    background: url(../img/bg-contact-escritorio.png) center;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 1300px;
    padding: 80px 0 50px 0;
    display: block;
    margin: auto;
}
#contact .item{
    align-items: center;
    justify-content: space-between;
}
#contact .tarotista-img img{
    width: 80%;
}
#contact .content-text{
    background: url(../img/bg-content-text-tarotist.png) center;
    padding: 30px 5px;
    width: 80%;
}
#contact .content-text p{
    margin: 0;
    text-align: center;
}
#contact .form-contact{
    max-width: 800px;
    width: 100%;
    display: block;
    margin: auto;
}
#contact .form-contact .tittle-bg{
    background-color: #ffeb99;
    padding: 10px 5px;
    border-radius: 20px 20px 0 0;
    text-align: center;
}
#contact .form-contact .tittle-bg h5{
    margin: 0;
}
#contact .form-bg{

}
#contact form{
    background: url(../img/bg-form.png) center;
    background-size: cover;
    padding: 30px 20px;
}
#contact form .form-group input{
    width: 100%;
    font-size: 20px;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}
#contact form .form-group {
    margin-bottom: 25px;
    padding: 0 20px;
}
#contact form .form-group input::placeholder{
    color: #000;
    opacity: 10;
}
#contact form .form-group-check{
    margin-bottom: 15px;
    padding: 0 50px;
    text-align: center;
}
#contact form .form-group-check label{
    font-family: 'Raleway', sans-serif;
}
#contact form .btn{
    display: flex;
    justify-content: center;
}
#contact form .btn button{
    background: #534034;
    border-style: none;
    color: #ffeb99;
    padding: 10px 20px;
    font-family: 'Cinzel', serif;
    letter-spacing: 4px;
    border-radius: 7px;
}
@media (max-width:767px) {
    #contact{
        background: url(../img/bg-contact-movil.png) center;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 10px 0 30px 0;
    }
    #contact .tarotista-img img{
        display: block;
        margin: auto;
        max-width: 250px;
    }
    #contact .content-text{
        padding: 10px 5px;
        max-width: 250px;
        display: block;
        margin: auto;
    }
    #contact .content-text p{
        font-size: 9.5px;
    }
    #contact .form-contact .tittle-bg{
        margin-top: 0px;
        padding: 10px 5px;
        border-radius: 10px 10px 0 0;
    }
    #contact .form-contact .tittle-bg h5{
        font-size: 12px;
        letter-spacing: 2.5px;
    }
    #contact .form-bg{
        max-width: 340px;
        width: 100%;
        display: block;
        margin: auto;
    }
    #contact form{
        padding: 20px 5px;
    }
    #contact form .form-group input{
        font-size: 12px;
        border-radius: 6px;
        height: 30px;
    }
    #contact form .form-group-check{
        margin-bottom: 8px;
        padding: 0 10px;
    }
    #contact form .form-group-check label{
        font-size: 10px;
    }
    #contact form .btn button{
        font-size: 13px;
        padding: 10px 20px;
        letter-spacing: 3px;
    }
}

/* presentacion */
#presentacion{
    background: url(../img/bg-presentacion-agenda.png) center;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 80px 0 50px 0;
    z-index: 1;
}


#presentacion {
    position: relative;
}


#presentacion::before {
    content: "";
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 0;
    right: 0;
    z-index: -1;
}
#presentacion .presentacion-bg{
    background: #fff;
    border-radius: 30px;
    padding: 30px 50px 10px 50px;
}
#presentacion .presentacion-bg .col-md-8{
    text-align: center;
}
#presentacion .presentacion-bg .tittle{
    margin-bottom: 20px;
}
#presentacion .presentacion-bg .img-presentation-tarotist img{
    max-width: 230px;
    width: 100%;
    margin-top: 0px;
}
@media (max-width:767px){
    #presentacion{
        padding: 25px 0;
    }
    #presentacion .presentacion-bg{
        border-radius: 20px;
        padding: 20px;
    }
    #presentacion .presentacion-bg .img-presentation-tarotist img{
        max-width: 200px;
        width: 100%;
        display: block;
        margin: auto;
    }
}

/* card-amor */
#card-amor{
    background: url(../img/bg-presentacion-solo.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
#card-amor .tittle-bg{
    background: #534034;
    color: #ffeb99;
    padding: 10px 0;
    text-align: center;
}
#card-amor .tittle-bg h3{
    color: #ffeb99;
    margin: 0;
}
#card-amor .content-text-bg{
    padding: 30px 80px;
    background: #fff;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
}
#card-amor .content-text-bg .tittle h2{
    margin-bottom: 20px;
}
#card-amor .footer-sec {
    justify-content: space-between;
    align-items: center;
}
#card-amor .footer-sec img{
    max-width: 60px;
    width: 100%;
}
#card-amor .img-tarotist img{
    max-width: 300px;
    width: 100%;
    margin-top: 50px;
}
@media (max-width:767px){
    #card-amor{
        padding: 0 0 25px 0;
    }
    #card-amor .tittle-bg h3{
        font-size: 13px;
        letter-spacing: 4px;
    }
    #card-amor .content-text-bg{
        padding: 20px 20px;
        border-radius: 20px;
        margin-top: 25px;
    }
    #card-amor .footer-sec img{
        max-width: 40px;
        width: 100%;
        margin-top: -15px;
    }
    #card-amor .img-tarotist img{
        max-width: 200px;
        width: 100%;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
}

/* tarot-si-no */
#tarot-si-no{
    padding: 50px 0;
    background: url(../img/bg-presentacion-solo.png) center;
    background-size: cover;
    background-repeat: no-repeat;
}
#tarot-si-no .img-tarot-bg img{
    width: 100%;
}
#tarot-si-no .content-tex-bg{
    background: #ffeb99;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
}
#tarot-si-no .content-tex-bg .tittle h2{
    margin-bottom: 20px;
}
#tarot-si-no .content-tex-bg .up-b{
    font-weight: bold;
}
@media (max-width:767px){
    #tarot-si-no{
        padding: 25px 0;
    }
    #tarot-si-no .img-tarot-bg img{
        max-width: 250px;
        width: 100%;
        display: block;
        margin: auto;
    }
    #tarot-si-no .content-tex-bg{
        padding: 20px;
        text-align: center;
        border-radius: 20px;
        margin-top: 25px;
    }
}

/* call-to-action */
#call-to-action{
    background: #fff;
    padding: 20px 0 0 0;
    text-align: center;
}
#call-to-action .sub-tittle h4{
    font-size: 20px;
}
#call-to-action .content-call{
    padding: 80px 0;
    align-items: center;
    justify-content: space-between;
}
#call-to-action .img-call-to-action-bg img{
    width: 100%;
}
#call-to-action .bg-boton{
    position: relative;
}
#call-to-action .bg-boton img{
    max-width: 310px;
    width: 100%;
}
#call-to-action .bg-boton .boton{
    position: absolute;
    top: calc(50% - 43.5px);
    left: calc(50% - 250px);
}
#call-to-action .bg-boton .boton .btn{
    font-size: 50px;
    width: 500px;
    background: #534034;
    border-style: none;
    border-radius: 20px;
    color: #ffeb99;
}
#call-to-action .term{
    padding: 0 15px;
}
#call-to-action .term p{
    font-size: 14px;
    margin-bottom: 0;
}
@media (max-width:767px){
    #call-to-action{
        padding: 25px 0 5px 0;
    }
    #call-to-action .sub-tittle h4{
        font-size: 10px;
        letter-spacing: 2px;
    }
    #call-to-action .content-call{
        padding: 30px 0;
    }
    #call-to-action .img-call-to-action-bg img{
        max-width: 230px;
        width: 100%;
        display: block;
        margin: auto;
    }
    #call-to-action .bg-boton{
        position: relative;
        margin-top: 30px;
    }
    #call-to-action .bg-boton img{
        max-width: 280px;
        width: 100%;
    }
    #call-to-action .bg-boton .boton{
        position: absolute;
        top: calc(50% - 28.5px);
        left: calc(50% - 140px);
    }
    #call-to-action .bg-boton .boton .btn{
        font-size: 30px;
        width: 280px;
        background: #534034;
        border-style: none;
        border-radius: 10px;
    }
    #call-to-action .term{
        padding: 0 8px;
    }
    #call-to-action .term p{
        font-size: 6px;
    }
}

/* footer */
footer{
    padding: 20px 0;
    background: #534034;
}
footer p{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer .reduced{
    margin-bottom: -20px;
}
@media (max-width:767px){
    footer .reduced{
        margin-bottom: -20px;
    }
}