/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

/* Genericos */
html * {
	text-rendering: optimizeLegibility !important;
	-webkit-text-rendering: optimizeLegibility !important;
	-moz-text-rendering: optimizeLegibility !important;
	-ms-text-rendering: optimizeLegibility !important;
	-o-text-rendering: optimizeLegibility !important;
	font-smoothing: antialiased !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	-ms-font-smoothing: antialiased !important;
	-o-font-smoothing: antialiased !important;
}
body {
	font-size: 1.6em;
}
header, section {
	clear: both;
}
img {
	max-width: 100%;
}
ul, li {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	line-height: 120%;
	text-align: center;
}
.clearfix {
	clear: both;
}
#back-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 9999;
	cursor: pointer;
	border: 0;
	transition: opacity 0.2s ease-out;
	opacity: 0;
	color: rgba(0, 0, 0, 0.25);
	font-size: 3.6em;
	text-decoration: none;
	color: rgba(112,126,107,1);
}

#back-to-top:hover {
	color: #ad8b55;
}

#back-to-top.show {
	opacity: 1;
}
#modalFormAlert .modal-content {
	overflow: hidden;
}
#modalFormAlert .modal-header {
	background-color: #ffc107;
}
#modalFormAlert .modal-header h4 {
	color: #333;
}
#modalFormAlert .modal-header button span {
	font-size: 26px;
}
#modalFormAlert .modal-body p {
	padding-top: 10px;
}
#modalFormAlert .modal-footer {
	text-align: center;
}
#modalFormAlert .modal-footer button {
	background-color: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.7);
	border: solid 1px rgba(0,0,0,0.15);
}
#modalFormAlert .modal-footer button:hover {
	background-color: rgba(0,0,0,0.2);
}
/* Personalizadas */
body {
	background-color: #7f7fd5;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
header {
	background-image: url(../img/header-bg.png);
	background-repeat: repeat-x;
	moz-background-size: auto 130%;
	-webkit-background-size: auto 130%;
	-o-background-size: auto 130%;
	background-size: auto 130%;
	background-position: left -20px;
}
header .container {
	padding: 10px 0px;
}
header .col-sm-7 {
	text-align: right;
	padding-top: 20px;
}
header .col-sm-5 {
	text-align: left;
	padding: 10px 0px 10px 0px;
}
header a.phone {
	color: #333;
	font-size: 30px;
	text-decoration: none;
	font-weight: 500;
	background-color: #fef69f;
	background-image: url(../img/phone-icon.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	moz-background-size: auto 50%;
	-webkit-background-size: auto 50%;
	-o-background-size: auto 50%;
	background-size: auto 50%;
	border-radius: 35px;
	padding: 10px;
	padding-left: 100px;
	padding-right: 20px;
}
header a.phone:hover {
	color: #87acdd;
}
header span.tarifa {
	display: block;
	color: #333;
	font-size: 0.8em;
	margin-top: 10px;
}

.navbar-default {
	background-color: #87aedd;
	background-image: none;
	border: none;
	border-radius: 0px;
	box-shadow: none;
}
.claim {
	text-align: center;
	float: right;
	margin-top: -80px;
}
.navbar-default .col-xs-6 {
	text-align: right;
}
.opiniones {
	list-style: none;
	text-align: center;
}
.opiniones .globo {
	background-color: #b689db;
	border-radius: 8px;
	padding: 15px;
	margin-bottom: 60px;
	margin-top: 30px;
}
.opiniones .globo .imagen {
	display: inline-block;
	margin-top: -90px;
}
#menu-icon {
	margin-top: 85px;
	margin-bottom: 85px;
}
#menu-icon a {
	position: absolute;
	margin-top: -65px;
}
#menu-icon a img {
	width: 100%;
}
.yellow {
	color: #fdee61;
}
/* FORMULARIO */
#form {
	text-align: center;
	background-color: #8482c3;
	border: solid 1px #565e9c;
	padding: 20px 40px 40px 40px;
	border-radius: 20px;
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	-moz-box-shadow: inset 0 0 3px 3px #565e9c;
	-webkit-box-shadow: inset 0 0 3px 3px #565e9c;
	box-shadow: inset 0 0 3px 3px #565e9c;
}
#form a {
	color: white;
}
#form .formulario {

}
#form h1 {
	color: #b7dfe7;
}
#form h2 {
	color: #b7dfe7;
}
.form-control {
	margin-bottom: 15px;
	color: #b7dfe7;
	font-weight: 300;
	border: dotted 1px #2c2751;
	padding: 8px;
	height: 42px;
	background-color: #231c4f;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #b7dfe7;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #b7dfe7;
	opacity: 1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #b7dfe7;
	opacity: 1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #b7dfe7;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
	color: #b7dfe7;
}

.form-control::placeholder { /* Most modern browsers support this now. */
	color: #b7dfe7;
}

.date-birth .col-xs-4 {
	padding-left: 0px;
}
.date-birth .col-xs-4.last {
	padding-right: 0px;
}
#aceptacion {
	padding-bottom: 15px;
}
#aceptacion input[type="checkbox"]{
	position:absolute;
	margin-top: 5px; 
	/* Double-sized Checkboxes */
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
	padding: 10px;
	border: solid 1px rgba(0,0,0,0.9);
}
#aceptacion label {
	margin-left:25px;
	font-weight: 300;
	font-size: 0.9em;
}
.btn {
	color: #000;
	font-size: 100%;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 10px 35px;
	height: auto;
	background-color: #fdee61;
	box-shadow: none;;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	border-top:none;
	border-left:none;
	border-right:none;
	display: inline-block;
	border: none;
	width: auto;
	border-radius: 25px;
}
.btn:hover {
	background-color: #333;
	color: #fff;
	cursor: pointer;
}
.btn span.glyphicon {
	top: 2px;
}
.form-step {
	background-color: #b7dfe7;
	padding: 8px;
	border-radius: 3px;
	margin: 20px 0px;
}
/* Tirada de cartas */

.tirada {
	margin-bottom: 20px;
}
.tirada .row .col-xs-4 {
	text-align: center;
}
.carta {
	cursor: pointer;
	box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	position: relative;
	border: solid 5px white;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	max-width: 100px;
	margin-left: -50px;
}
.carta:first-child {
	margin-left: 0px;
}
.girada {
	position: absolute;
	z-index: 1000;
}
footer {
	text-align: center;
	padding-top: 20px;
}
footer a {
	background-color: #8767ac;
	color: #fffa66;
	padding: 5px 50px;
	display: inline-block;
	border-radius: 5px;
	margin: 0px 5px;
	font-weight: 300;
}
.modal {
	text-align: center;
}
.modal .modal-header {
	background-color: #7f7fd5;
}
.modal .btn {
	display: block;
	width: 100%;
	border-radius: 3px;
	margin-bottom: 0px;
}
hr {
	padding-bottom: 50px;
	border-style: dashed;
}
div.bubble {
	position: relative;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color: #c9fff2;
	border-radius: 10px;
	font-family: sans-serif;
	padding: 30px;
	font-size: large;
}

div.thought {
	border-radius: 60px;
	padding: 50px;	
}

div.bubble:before,
div.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

div.speech:before {
	left: 30px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}

div.speech:after {
	left: 38px;
	bottom: -30px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

div.thought:before,
div.thought:after {
	left: 10px;
	bottom: -30px;
	width: 50px;
	height: 50px;
	background-color: #c9fff2;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

div.thought:after {
	width: 30px;
	height: 30px;
	left: 5px;
	bottom: -40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
.bubble-title, .bubble-callme {
	display: inline-block;
	float: left;
	background-color: #b689db;
	margin-top: -70px;
	padding: 10px 20px;
	border-radius: 20px;
	color: #000;
	font-size: 100%;
}
.bubble-callme {
	float: right;
	margin-top: 25px;
}
.bubble-callme a {
	color: #000;
}
.bubble-block {
	display: block;
	margin-bottom: 15px;
}
.moon-icon {
	font-size: 64px;
}
.moon-label {
	background-color: #231c4f;
	color: white;
	padding: 3px 15px;
	margin: 10px 0px 3px 0px;
	display: inline-block;
	border-radius: 3px;
}
.moon-date {
	margin-bottom: 20px;
	display: block;
}
.moon-data {
	background-color: #fdee61;
	display: block;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
}
.moon-house {
	background-color: white;
	display: block;
	border-radius: 3px;
	padding: 3px 3px 0px 3px;
	margin-bottom: 10px;
}
.moon-category {
	color: #231c4f;
}
#whyphone:hover {
	cursor: pointer;
}
#cartel {
	background-color: rgba(255,255,255,0.3);
	border-radius: 3px;
	padding: 10px;
	font-size: 14px;
	margin-bottom: 10px;
}
/* Media Queries */
@media (max-width: 1199px){
	#menu-icon {
		margin-top: 70px;
		margin-bottom: 70px;
	}
	#menu-icon a {
		margin-top: -50px;
	}
	.carta {
		max-width: 90px;
	}
}
@media (max-width: 991px){
	#menu-icon {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	#menu-icon a {
		margin-top: -30px;
	}
	.carta {
		max-width: 80px;
	}
}
@media (max-width: 767px){
	header .col-sm-7 {
		text-align: center;
		padding-bottom: 10px;
	}
	header .col-sm-5 {
		padding-top: 0px;
		padding-bottom: 5px;
		text-align: center;
	}
	header a.phone, header span.tarifa {
		display: inline-block;
		text-align: center;
	}
	.navbar-default {
		margin-bottom: 0px;
	}
	#menu-icon {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	#menu-icon a {
		margin-top: -20%;
	}
	.pull-right {
		float: none !important;
	}
	.claim {
		float: none;
		margin-top: -60px;
	}
	section.form-content .row .col-sm-8 {
		padding: 0px;
	}
	#form {
		margin: 0px;
		border-radius: 0px;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
		background-color: transparent;
	}
	ul.opiniones {
		max-width: 400px;
		margin: auto;
	}

}
@media (max-width: 600px){
	#menu-icon {
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 20px 0px;
		background-color: rgba(255,255,255,.2);
		text-align: center;
	}
	#menu-icon .col-xs-1 {
		display: none;
	}
	#menu-icon .col-xs-2 {
		width: 30%;
		display: inline-block;
		float: none;
	}
	#menu-icon a {
		position: inherit;
		margin-top: -20%;
	}
	div.thought {
		border-radius: 30px;
		padding: 30px;	
	}
	.bubble-title {
		margin-top: -50px;
	}
	.bubble-callme {
		font-size: 14px;
		margin-top: 5px;
	}
}
@media (max-width: 421px){
	header a.phone {
		font-size: 20px;
	}
	.carta {
		margin-left: -63px;
	}
	.claim {
		margin-top: -50px;
	}
	footer a {
		display: block;
		margin-bottom: 10px;
	}
}

.oculto {
	display: none !important;
}