@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?18718026d9a4a426834a857e94fb81c0") format("truetype"),
url("./flaticon.woff?18718026d9a4a426834a857e94fb81c0") format("woff"),
url("./flaticon.woff2?18718026d9a4a426834a857e94fb81c0") format("woff2"),
url("./flaticon.eot?18718026d9a4a426834a857e94fb81c0#iefix") format("embedded-opentype"),
url("./flaticon.svg?18718026d9a4a426834a857e94fb81c0#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-email:before {
    content: "\f101";
}
.flaticon-usuario-de-perfil:before {
    content: "\f102";
}
.flaticon-phone-call:before {
    content: "\f103";
}
.flaticon-calendar-in-a-circle-interface-symbol:before {
    content: "\f104";
}
.flaticon-reloj-circular:before {
    content: "\f105";
}
