
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Century Gothic';
    font-stretch: normal;
    outline: none;
    font-weight: normal;
    a {
        text-decoration: none;
    }
    p{
        margin: 0;
    }
    button,
    select {
        cursor: pointer;
    }
    
}
body{
  background-color: #000;
}
.font_diff1{
    font-family: 'Billabong';
    font-weight: normal;
    font-style: normal;
}


img{
    width: 100%;
}

$m_color1: #101010;
$m_color2: #4d4d4d;
$m_color3: #000;
$m_color4: #ffffff;
$m_gradient_blue: linear-gradient(-90deg, rgba(4,211,253,1) 27%, rgba(0,78,178,1) 100%);

.container_ap{
    max-width: 1100px;
    margin: 0 auto;
}

header{
    padding-top: 15px;
    .spc_header{
        background-color: $m_color1;
        padding: 20px;
        color: $m_color4;
        border-radius: 20px 20px 0 0;
        text-align: center;
        h1{
            font-weight: bold;
            font-size: 25px;
            margin: 0;
        }
        h2{
            font-size: 20px;
            margin: 0;
        }
    }
}

.spc_texto_cc{
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    h4{
        font-size: 15px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 10px;
    }
    p{
        margin: 0;
    }
    .dff_spr{
        margin: 0;
        font-style: italic;
    }
}

.sec_form_main{
    margin-bottom: 30px;
    .cntrl_spc_form{
        background-color: $m_color1;
        
        .spc_form_main{
            background-image: url('../img/tramachat.png');
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            padding: 5px 20px 5px 20px;
            border-radius: 20px;  
            .line_img_tarotista{
                display: flex;
                justify-content: center;
                align-items: center;
                .box_img_tarotista{
                    width: 100px;
                    position: relative;
                    z-index: 2;
                    margin-right: -50px;
                }
                .box_spc_texto_bnner{
                    background-color: #000;
                    position: relative;
                    z-index: 1;
                    border-left: 50px solid #000;
                    padding: 10px;
                    border-radius: 5px 10px;
                    p{
                        color: #ffffff;
                        font-weight: bold;
                        text-align: center;
                        margin: 0;
                    }
                }
            } 
        } 
    }
}
.spc_inptss{
    width: 80%;
    margin: 0 auto;
    .line_inptt{
        background-image: radial-gradient(circle, rgba(4,211,253,1) 27%, rgba(0,78,178,1) 100%);
        display: flex;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 10px;
        .box_icn_ijnput{
            width: 30px;
            margin-right: 10px;
        }
        input{
            background-color: transparent;
            color: white;
            border: none;
            font-weight: bold;
            width: calc(100% - 30px);
        }
        input::placeholder{
            color: white;
            font-weight: bold;

        }
    }
}
.spc_line_checkbx{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    input{
        margin-right: 5px;
    }
    p{
        color: #ffffff;
        font-size: 10px;
        margin: 0;
        a{
            color: #ffffff;
        }
    }
}
.spc_btn_sbmit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    button{
        background-image: radial-gradient(circle, rgb(57, 219, 125) 27%, rgb(14, 143, 94) 100%);
        color: #ffffff;
        border: none;
        padding: 5px 30px;
        border-radius: 20px;
        font-size: 18px;
    }
}

.spc_txt_cndcnsss{
    p{
        color: #ffffff;
        font-size: 10px;
        text-align: justify;
        line-height: 12px;
    }
}

footer{
    background-image: radial-gradient(circle, rgba(4,211,253,1) 27%, rgba(0,78,178,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    p{
      margin: 0;
    }
    .line_linkss{
      a{
        color: $m_color4;

      }
      span{
        margin: 0 10px;
        color: $m_color4;
      }
    }
  }