.text-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.text-effect span {
  display: inline-block;
  animation: animate 4.0s;
  padding: 0;
  margin-right: -18px;
}

.text-effect .space{
    width: 20px;
}

.text-effect span:nth-child(34) {
  animation-delay: 3.7s;
}

.text-effect span:nth-child(33) {
  animation-delay: 3.6s;
}

.text-effect span:nth-child(32) {
  animation-delay: 3.5s;
}

.text-effect span:nth-child(31) {
  animation-delay: 3.4s;
}

.text-effect span:nth-child(30) {
  animation-delay: 3.3s;
}

.text-effect span:nth-child(29) {
  animation-delay: 3.2s;
}

.text-effect span:nth-child(28) {
  animation-delay: 3s;
}

.text-effect span:nth-child(27) {
  animation-delay: 2.9s;
}

.text-effect span:nth-child(26) {
  animation-delay: 2.8s;
}

.text-effect span:nth-child(25) {
  animation-delay: 2.7s;
}

.text-effect span:nth-child(24) {
  animation-delay: 2.6s;
}

.text-effect span:nth-child(23) {
  animation-delay: 2.5s;
}


.text-effect span:nth-child(22) {
  animation-delay: 2.4s;
}

.text-effect span:nth-child(21) {
  animation-delay: 2.3s;
}

.text-effect span:nth-child(20) {
  animation-delay: 2.2s;
}

.text-effect span:nth-child(19) {
  animation-delay: 2s;
}

.text-effect span:nth-child(18) {
  animation-delay: 1.9s;
}

.text-effect span:nth-child(17) {
  animation-delay: 1.8s;
}

.text-effect span:nth-child(16) {
  animation-delay: 1.7s;
}

.text-effect span:nth-child(15) {
  animation-delay: 1.6s;
}


.text-effect span:nth-child(14) {
  animation-delay: 1.5s;
}

.text-effect span:nth-child(13) {
  animation-delay: 1.4s;
}

.text-effect span:nth-child(12) {
  animation-delay: 1.3s;
}

.text-effect span:nth-child(11) {
  animation-delay: 1.2s;
}

.text-effect span:nth-child(10) {
  animation-delay: 1s;
}

.text-effect span:nth-child(9) {
  animation-delay: 0.9s;
}

.text-effect span:nth-child(8) {
  animation-delay: 0.8s;
}

.text-effect span:nth-child(7) {
  animation-delay: 0.7s;
}

.text-effect span:nth-child(6) {
  animation-delay: 0.6s;
}

.text-effect span:nth-child(5) {
  animation-delay: 0.5s;
}

.text-effect span:nth-child(4) {
  animation-delay: 0.4s;
}

.text-effect span:nth-child(3) {
  animation-delay: 0.3s;
}

.text-effect span:nth-child(2) {
  animation-delay: 0.2s;
}

.text-effect span:nth-child(1) {
  animation-delay: 0.1s;
}

@keyframes animate {
    
100% {
    transform: translate(0, 0);
    color: rgb(101, 236, 149);
  }
  0% {
    transform: translate(0, 0);
    color: transparent;
  }
  50% {
    transform: translate(0, -50px);
    color: transparent;
  }
}
@media only screen and (max-width: 1000px) {
  .text-effect {
    font-size: 55px;
  }
}
@media only screen and (max-width: 479px) {
  .text-effect {
    font-size: 40px;
  }
}
@media only screen and (max-width: 359px) {
  .text-effect {
    font-size: 30px;
  }
}