@font-face {
    font-family: 'cuerpo';
    src: url(../css/fonts/KiteOne-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
img{
    width: 100%;
}
body{
    background: #e1c4bc;
}
p{
    font-family: 'cuerpo';
    color: #a37957;
}

/* header */
#header{
    background: url(../img/bg-header.png) bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 60px 0 0 0;
}
#header .logo-tarotista{
    margin-top: 0px;
}
#header .logo-tarotista img{
    max-width: 400px;
    width: 100%;
    display: block;
    margin: auto;
}
@media (max-width: 1258px) {
    #header{
        background: url(../img/bg-header.png) top;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
@media (max-width: 992px){
    #header .logo-tarotista img{
        max-width: 250px;
        width: 100%;
        display: block;
        margin: auto;
    }
}
@media (max-width: 767px){
    #header{
        padding: 30px 0 0 0;
    }
    #header .logo-tarotista img{
        max-width: 150px;
        width: 100%;
        display: block;
        margin: auto;
    }
}
/* contact */
#contact{
    padding: 0px 0 50px 0;
    margin: 0 20px;
    border-left: 4px #fff solid;
    border-right: 4px #fff solid;
}
#contact .title img{
    max-width: 360px;
    width: 100%;
    display: block;
    margin: auto;
}
#contact .content-text{
    max-width: 800px;
    width: 100%;
    display: block;
    margin: auto;
    padding: 100px 0 70px 0;
}
#contact .content-text p{
    font-size: 30px;
}
#contact .title h2{
    color: #03989e;
    font-size: 55px;
    text-align: center;
    margin-bottom: 30px;
}
#contact form{
    max-width: 600px;
    width: 100%;
    display: block;
    margin: auto;
}
#contact .form-group{
    position: relative;
}
#contact .form-group i{
    position: absolute;
    right: 10px;
    top: 6px;
    color: #a37957;
    font-size: 40px;
}
#contact .form-group input{
    width: 100%;
    font-family: 'cuerpo';
    color: #a37957;
    border-style: none;
    background: transparent;
    border: 2px #fff solid;
    font-size: 30px;
    border-radius: 50px;
    text-indent: 25px;
}
#contact .form-group select{
    width: 100%;
    font-family: 'cuerpo';
    color: #a37957;
    border-style: none;
    background: transparent;
    border: 2px #fff solid;
    font-size: 30px;
    border-radius: 50px;
    text-indent: 15px;
    appearance: none;
}
#contact .form-group input::placeholder{
    opacity: 1;
}
#contact .form-group-term{
    max-width: 500px;
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'cuerpo';
    color: #a37957;
    font-size: 25px;
    padding: 25px 0;
}
#contact .form-group-term input{
    height: 20px;
    width: 20px;
}
#contact .boton button{
    width: 100%;
    border-style: none;
    background: #fff;
    color: #a37957;
    font-weight: bold;
    font-size: 30px;
    padding: 5px 0;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);
}
@media (max-width: 992px){
    #contact{
        padding: 0px 0 50px 0;
        margin: 0 20px;
        border-left: 4px #fff solid;
        border-right: 4px #fff solid;
    }
    #contact .title img{
        max-width: 230px;
        width: 100%;
        display: block;
        margin: auto;
    }
    #contact .content-text p{
        font-size: 20px;
    }
    #contact .content-text{
        max-width: 550px;
        width: 100%;
        display: block;
        margin: auto;
        padding: 50px 0 30px 0;
    }
    #contact .title h2{
        color: #03989e;
        font-size: 35px;
        text-align: center;
        margin-bottom: 30px;
    }
    #contact form{
        max-width: 400px;
        width: 100%;
        display: block;
        margin: auto;
    }
    #contact .form-group i{
        position: absolute;
        right: 10px;
        top: 6px;
        color: #a37957;
        font-size: 25px;
    }
    #contact .form-group input{
        width: 100%;
        font-family: 'cuerpo';
        color: #a37957;
        border-style: none;
        background: transparent;
        border: 2px #fff solid;
        font-size: 20px;
        border-radius: 50px;
        text-indent: 25px;
    }
    #contact .form-group select{
        width: 100%;
        font-family: 'cuerpo';
        color: #a37957;
        border-style: none;
        background: transparent;
        border: 2px #fff solid;
        font-size: 20px;
        border-radius: 50px;
        text-indent: 15px;
        appearance: none;
    }
    #contact .form-group-term{
        max-width: 400px;
        width: 100%;
        display: block;
        margin: auto;
        text-align: center;
        font-family: 'cuerpo';
        color: #a37957;
        font-size: 15px;
        padding: 15px 0;
    }
    #contact .form-group-term input{
        height: 15px;
        width: 15px;
    }
    #contact .boton button{
        width: 100%;
        border-style: none;
        background: #fff;
        color: #a37957;
        font-weight: bold;
        font-size: 25px;
        padding: 5px 0;
        border-radius: 50px;
        box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);
    }
}
@media (max-width: 767px){
    #contact{
        padding: 0px 0 20px 0;
        margin: 0 10px;
        border-left: 2px #fff solid;
        border-right: 2px #fff solid;
    }
    #contact .title img{
        max-width: 130px;
        width: 100%;
        display: block;
        margin: auto;
    }
    #contact .content-text p{
        font-size: 10px;
    }
    #contact .content-text{
        max-width: 270px;
        width: 100%;
        display: block;
        margin: auto;
        padding: 20px 0 10px 0;
    }
    #contact .title h2{
        color: #03989e;
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
    }
    #contact form{
        max-width: 200px;
        width: 100%;
        display: block;
        margin: auto;
    }
    #contact .form-group{
        margin-bottom: 10px;
    }
    #contact .form-group i{
        position: absolute;
        right: 10px;
        top: 6px;
        color: #a37957;
        font-size: 15px;
    }
    #contact .form-group input{
        width: 100%;
        font-family: 'cuerpo';
        color: #a37957;
        border-style: none;
        background: transparent;
        border: 2px #fff solid;
        font-size: 15px;
        border-radius: 50px;
        text-indent: 15px;
    }
    #contact .form-group select{
        width: 100%;
        font-family: 'cuerpo';
        color: #a37957;
        border-style: none;
        background: transparent;
        border: 2px #fff solid;
        font-size: 15px;
        border-radius: 50px;
        text-indent: 5px;
        appearance: none;
    }
    #contact .form-group-term{
        max-width: 400px;
        width: 100%;
        display: block;
        margin: auto;
        text-align: center;
        font-family: 'cuerpo';
        color: #a37957;
        font-size: 9px;
        padding: 10px 0;
    }
    #contact .form-group-term input{
        height: 10px;
        width: 10px;
    }
    #contact .boton button{
        width: 100%;
        border-style: none;
        background: #fff;
        color: #a37957;
        font-weight: bold;
        font-size: 15px;
        padding: 5px 0;
        border-radius: 50px;
        box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);
    }
}

/* footer */
#footer{
    background: url(../img/bg-footer.png) top;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    margin-top: -450px;
}
@media (max-width: 1180px){
    #footer {
    background: url(../img/bg-footer.png) bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    }
}
@media (max-width: 767px){
    #footer{
        background: url(../img/bg-footer.png) top;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 200px;
        margin-top: -100px;
    }
}