@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@font-face {
  font-family: 'titulos';
  src: url(../css/fonts/carelia-upright.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
body {
    background: #fff;
    color: #000;
    font-family: "Open Sans", sans-serif;
    z-index: -0;
}
main{
    background: url(../img/bg-main.png) center;
    background-position: right;
    height: 100vh;
    background-size: cover ;
    background-attachment: fixed;
    /* Force the background image to fill the whole element. */
    background-size: cover;
    /* Keep the image from overlapping sibling elements. */
}
a:hover, a:active, a:focus {
    color: #000;
    outline: none;
    text-decoration: none;
}
h1{
    font-family: 'titulos';
    color: #4C1B72;
    font-size: 120px;
    line-height: 70px;
    text-align: center;
}
h1 span{
    font-size: 89px;
}
h2{
    font-family: 'titulos';
    font-size: 40px;
    text-align: center;
}
h3{
    font-family: 'titulos';
    font-size: 74px;
    color: #4C1B72;
    line-height: 70px;
}
h4{
    font-family: 'titulos';
}
h5{
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    font-size: 27px;
}
h6{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 27px;
}
p{
    font-family: 'DM Sans', sans-serif;
}
.movil{
    display: none;
}
@media (max-width:1199px) {
    h1{
        font-size: 100px;
        line-height: 70px;
    }
    h1 span{
        font-size: 74px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 64px;
        line-height: 60px;
    }
    h5{
        font-size: 20px;
    }
    h6{
        font-size: 22px;
    }
}
@media (max-width:991px) {
    main{
        background: url(../img/bg-main.png);
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: 0;
    }
    main {
        position: relative;
    }
    main::before {
        content: "";
        background: rgba(255, 255, 255, 0.4);
        position: absolute;
        bottom: 0;
        top: 0px;
        left: 0;
        right: 0;
        z-index: -0;
    }
    h1{
        font-size: 75px;
        line-height: 60px;
    }
    h1 span{
        font-size: 55px;
    }
    h2{
        font-size: 27px;
    }
    h3{
        font-size: 40px;
        line-height: 40px;
    }
    h5{
        font-size: 15px;
    }
    h6{
        font-size: 16px;
    }
}
@media (max-width:767px){
    h1{
        font-size: 65px;
        line-height: 50px;
    }
    h1 span{
        font-size: 48px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 38px;
        line-height: 40px;
    }
    h5{
        font-size: 13px;
    }
    h6{
        font-size: 13px;
    }
}
/* nav */
.bg-light {
    background-color: transparent !important;
}
.navbar {
    padding: .5rem 0;
}
.form-search-content{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}
.form-search-content input{
    background: none;
    border-style: none;
    border-radius: 30px 0 0 30px;
}
.form-search-content input:focus{
    background: transparent;
}
.form-search-content input:hover{
    background: transparent;
}
.btn-outline {
    color: #fff;
    border-style: none;
    border-radius: 50%;
}
.btn-outline:hover {
    color: #fff;
    background-color: #4C1B72;
    border-color: #4C1B72;
}
.form-search-content .btn-outline:focus{
    background: #4C1B72;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
    color: #4c1b729a;
    font-size: 20px;
    margin-right: 30px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #4C1B72;   
}
/* hero */
#hero{
    margin: 60px 0 0 0;
    padding: 20px 0;
}
#hero .subtittle{
    color: #fff;
}
#hero hr{
    border: 2px #fff solid;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 0;
    width: 80%;
}
#hero .sub-content{
    margin-top: 45px;
}
#hero .sub-content .content-text{
    margin-left: -40px;
    margin-top: 15px;
}
#hero .boton{
    margin-top: 120px;
}
#hero .escritorio{
    display: block;
}
#hero .movil{
    display: none;
}
#hero .boton button{
    background: #fff;
    padding: 15px 20px;
    border-style: none;
    border-radius: 30px;
    font-family: 'titulos';
    color: #4C1B72;
    transition: 0.4s;
    font-size: 20px;
    display: block;
    margin: auto;
}
#hero .boton button:hover{
    background: #4C1B72;
    color: #fff;
    transition: 0.4s;
}
@media (max-width:1199px) {
    #hero .sub-content .content-text{
        margin-left: -25px;
        margin-top: 15px;
    }
    #hero .boton button{
        padding: 15px 20px;
        font-size: 16px;
    }
}
@media (max-width:991px){
    #header form{
        display: none;
    }
    #hero{
        margin: 50px 0 0 0;
        padding: 10px 0;
    }
    #hero .sub-content{
        margin-top: 25px;
    }
    #hero .sub-content .content-text{
        margin-left: -20px;
        margin-top: 15px;
    }
    #hero .boton{
        margin-top: 70px;
    }
    #hero .boton button{
        padding: 15px 20px;
        font-size: 15px;
    }
}
@media (max-width:767px){
    #hero{
        margin: 50px 0 0 0;
        padding: 10px 0;
    }
    #hero .sub-content{
        margin-top: 25px;
    }
    #hero .sub-content .content-text{
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #hero .boton{
        margin-top: 30px;
    }
    #hero .escritorio{
        display: none;
    }
    #hero .movil{
        display: block;
        margin: auto;
        z-index: 1;
    }
    #hero .boton button{
        padding: 15px 20px;
        font-size: 15px;
    }
}
/* projets */
#projets{
    padding: 60px 0;
    background: #fff;
}
#projets .tittle{
    margin: 20px 0 70px 0;
}
#projets .content-box img{
    width: 100%;
}
#projets .content-box{
    max-width: 350px;
    display: block;
    margin: auto;
}
#projets .content-box .tittle-projets{
    margin-top: 20px;
}
#projets .content-box .content-tex{
    max-width: 290px;
    display: block;
    margin: auto;
}
@media (max-width:991px){
    #projets .content-box .tittle-projets h4{
        font-size: 17px;
    }
    #projets .content-box .content-tex p{
        font-size: 11px;
    }
}
@media (max-width:767px){
    #projets{
        padding: 20px 0;
    }
    #projets .tittle{
        margin: 20px 0 40px 0;
    }
    #projets .content-box{
        max-width: 250px;
        display: block;
        margin: auto;
        margin-bottom: 50px;
    }
}

/* contact */
#contact{
    padding: 60px 0;
    /* background: url(../img/bg-contact.png) center;
    background-size: cover; */
}
#contact .tittle{
    margin: 20px 0 0px 0;
}
#contact .sub-tittle {
    margin: 10px 0;
}
#contact .form-group span{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    width: 100%;
    font-size: 21px;
}
#contact .form-group input{
    width: 100%;
    border-style: none;
    background: #4C1B72;
    font-size: 24px;
    border-radius: 10px;
    height: 50px;
    color: #fff;
    text-indent: 10px;
}
#contact .form-group .claro{
    font-size: 18px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.3);
}
#contact .form-group textarea{
    width: 100%;
    border-style: none;
    background: #4C1B72;
    font-size: 24px;
    border-radius: 10px;
    min-height: 100px;
    max-height: 100px;
    color: #fff;
    text-indent: 10px;
}
#contact .boton{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#contact .boton button{
    background: #4C1B72;
    border-style: none;
    color: #fff;
    font-family: 'titulos';
    font-size: 30px;
    padding: 5px 40px;
    border-radius: 10px;
    width: 400px;
    transition: 0.4s;
    border: 2px #4C1B72 solid;
}
#contact .boton button:hover{
    background: #fff;
    color: #4C1B72;
    border: 2px #4C1B72 solid;
    transition: 0.4s;
}
#contact .boton button i{
    margin-left: 10px;
    font-size: 25px;
}
#contact .img-a{
    background: url(../img/bg-contact.png) center;
    background-size: cover;
}
@media (max-width:991px){
    #contact .form-group span{
        font-size: 14px;
    }
    #contact .form-group .claro{
        font-size: 13px;
    }
    #contact .form-group input{
        font-size: 15px;
        border-radius: 10px;
        height: 40px;
        text-indent: 6px;
    }
    #contact .form-group textarea{
        font-size: 15px;
        border-radius: 10px;
        min-height: 70px;
        max-height: 70px;
        text-indent: 6px;
    }
    #contact .boton button{
        font-size: 16px;
        padding: 5px 40px;
        border-radius: 10px;
        width: 270px;
    }
    #contact .boton button i{
        margin-left: 10px;
        font-size: 15px;
    }
}
@media (max-width:767px){
    #contact{
        padding: 20px 0;
    }
    #contact .tittle{
        margin: 0px 0 0px 0;
    }
    #contact form{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    #contact .row{
        margin-top: -15px;
    }
    #contact .img-a{
        height: 200px;
    }
}