@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: #fcd3cd;
    font-family: 'Poppins', sans-serif;
}
@media (max-width:767px){
    body{
        height: 100vh;
    }
}

/* Header */
#header .logo img{
    width: 100%;
    padding: 25px;
}
#header .content-text{
    padding: 30px 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    align-items: ;
}
#header .content-text h3{
    font-size: 41px;
    font-weight: bold;
}
#header .content-text h2{
    font-size: 49px;
    font-weight: bold;
    font-style: italic;
}
#header .content-text h4{
    font-size: 40px;
}
#header .container{
    width: 100% !important;
}
@media (max-width:1280px) {
    #header .content-text{
        padding: 30px 0;
    }
    #header .content-text h3{
        font-size: 31px;
    }
    #header .content-text h2{
        font-size: 36px;
    }
    #header .content-text h4{
        font-size: 30px;
    }
}
@media (max-width:979px){
    #header .content-text{
        padding: 30px 0;
    }
    #header .content-text h3{
        font-size: 21px;
    }
    #header .content-text h2{
        font-size: 26px;
    }
    #header .content-text h4{
        font-size: 20px;
    }
}
@media (max-width:767px){
    #header .logo img{
        width: 100%;
        padding: 5px;
    }
    #header .content-text{
        padding: 5px 0;
    }
    #header .content-text br{
        display: none;
    }
    #header .content-text h3{
        font-size: 11px;
        margin: 0;
    }
    #header .content-text h2{
        font-size: 11px;
        margin: 0;
    }
    #header .content-text h4{
        font-size: 9px;

    }
}
/* contact */
#contact{
    padding: 50px 0;
}
#contact  .form .col-7{
    padding: 0 60px;
}
#contact  .form .form-group {
    margin-top: 30px;
}
#contact  .form .form-group input{
    width: 100%;
    font-size: 47px;
    font-family: 'Poppins', sans-serif;
    height: 120px;
    text-indent: 20px;
    border-style: none;
}
#contact .call-to-action img{
    max-width: 500px;
    width: 100%;
    display: block;
    margin: auto;
}
#contact .form-group-check input{
    margin-right: 20px;
    height: 35px;
    width: 35px;
}
#contact .form-group-check label{
    font-size: 50px;
    line-height: 60px;
}
#contact .botones{
    padding: 50px 0;
}
#contact .botones .btn-call a {
    position: relative;
}
#contact .botones .btn-call img{
    width: 40px;
    position: absolute;
    right: 50px;
    top: calc(50% - 25px);
}
#contact .botones .btn-call .btn-primary{
    background: #3bc286;
    border-style: none;
    border-radius: 0;
    width: 800px;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 5px 5px 10px 0 #000;
    display: block;
    margin: auto;
}
#contact .botones .btn-date a {
    position: relative;
}
#contact .botones .btn-date img{
    width: 50px;
    position: absolute;
    right: 40px;
    top: calc(50% - 25px);
}
#contact .botones .btn-date .btn-primary{
    background: #fa4243;
    border-style: none;
    border-radius: 0;
    width: 800px;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 5px 5px 10px 0 #000;
    display: block;
    margin: auto;
    margin-top: 50px;
}
@media (max-width:1280px){
    #contact  .form .col-7{
        padding: 0 60px;
    }
    #contact  .form .form-group {
        margin-top: 30px;
    }
    #contact  .form .form-group input{
        font-size: 37px;
        height: 90px;
        text-indent: 20px;
    }
    #contact .call-to-action img{
        max-width: 430px;
        width: 100%;
        display: block;
        margin: auto;
    }
    #contact .form-group-check input{
        margin-right: 20px;
        height: 30px;
        width: 30px;
    }
    #contact .form-group-check label{
        font-size: 37px;
        line-height: 60px;
    }
    #contact .botones .btn-call a {
        position: relative;
    }
    #contact .botones .btn-call img{
        width: 40px;
        position: absolute;
        right: 40px;
        top: calc(50% - 20px);
    }
    #contact .botones .btn-call .btn-primary{
        border-radius: 0;
        width: 700px;
        font-size: 40px;
    }
    #contact .botones .btn-date a {
        position: relative;
    }
    #contact .botones .btn-date img{
        width: 40px;
        position: absolute;
        right: 40px;
        top: calc(50% - 20px);
    }
    #contact .botones .btn-date .btn-primary{
        border-radius: 0;
        width: 700px;
        font-size: 40px;
        margin-top: 50px;
    }
}
@media (max-width:979px){
    #contact  .form .col-7{
        padding: 0 40px;
    }
    #contact  .form .form-group {
        margin-top: 30px;
    }
    #contact  .form .form-group input{
        font-size: 24px;
        height: 60px;
        text-indent: 20px;
    }
    #contact .call-to-action img{
        max-width: 270px;
        width: 100%;
        display: block;
        margin: auto;
    }
    #contact .form-group-check input{
        margin-right: 15px;
        height: 23px;
        width: 23px;
    }
    #contact .form-group-check label{
        font-size: 24px;
        line-height: 30px;
    }
    #contact .botones .btn-call a {
        position: relative;
    }
    #contact .botones .btn-call img{
        width: 32px;
        position: absolute;
        right: 40px;
        top: calc(50% - 16px);
    }
    #contact .botones .btn-call .btn-primary{
        border-radius: 0;
        width: 500px;
        font-size: 29px;
    }
    #contact .botones .btn-date a {
        position: relative;
    }
    #contact .botones .btn-date img{
        width: 32px;
        position: absolute;
        right: 40px;
        top: calc(50% - 16px);
    }
    #contact .botones .btn-date .btn-primary{
        border-radius: 0;
        width: 500px;
        font-size: 29px;
        margin-top: 50px;
    }
}
@media (max-width:767px){
    #contact{
        padding: 10vh 0;
    }
    #contact  .form .col-7{
        padding: 0 15px;
    }
    #contact  .form .form-group {
        margin: 0 0 10px;
    }
    #contact  .form .form-group input{
        font-size: 12px;
        height: 27px;
        text-indent: 10px;
    }
    #contact .call-to-action img{
        max-width: 270px;
        width: 100%;
        display: block;
        margin: auto;
    }
    #contact .form-group-check input{
        margin-right: 5px;
        height: 13px;
        width: 13px;
    }
    #contact .form-group-check label{
        font-size: 12px;
        line-height: 15px;
    }
    #contact .botones{
        padding: 10vh 0;
    }
    #contact .botones .btn-call a {
        position: relative;
    }
    #contact .botones .btn-call img{
        width: 15px;
        position: absolute;
        right: 10px;
        top: calc(50% - 7.5px);
    }
    #contact .botones .btn-call .btn-primary{
        border-radius: 0;
        width: 220px;
        font-size: 15px;
    }
    #contact .botones .btn-date a {
        position: relative;
    }
    #contact .botones .btn-date img{
        width: 15px;
        position: absolute;
        right: 10px;
        top: calc(50% - 7.5px);
    }
    #contact .botones .btn-date .btn-primary{
        border-radius: 0;
        width: 220px;
        font-size: 15px;
        margin-top: 20px;
    }
}