@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: url(../img/bg.png)center;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    /* height: 100vh; */
}
img{
    width: 100%;
}
.row{
    margin: 0;
}
/* und-sec */
#und-sec{
    padding: 100px 80px;
}
#und-sec .bg-content{
    background: rgba(255, 255, 255, 0.6);
    border: 7px #fff solid;
}
#und-sec .tarotist{
    background: url(../img/tarotista.jpg) center;
    background-size: cover;
    padding: 0;
    margin: 0;
}
/* #und-sec .tarotist img{
    max-width: 400px;
    width: 100%;
} */
#und-sec .content-info{
    padding: 0px 40px 0px 40px;
    max-width: 800px;
    width: 100%;
    display: block;
    margin: auto;
}
#und-sec .content-info .title img{
    max-width: 550px;
    width: 100%;
    display: block;
    margin: auto;
}
#und-sec .content-info .sub-text p{
    font-size: 23px;
    text-align: center;
    padding: 40px 0;
    font-weight: 500;
    letter-spacing: 2px;
}
#und-sec .content-info .icon-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
#und-sec .content-info .icon-sec .icon{
    max-width: 130px;
    width: 100%;
}
#und-sec .content-info .icon-sec .icon .icono{
    height: 80px;
}
#und-sec .content-info .icon-sec .icon img{
    width: auto;
    display: block;
    margin: auto;
    height: 60px;
}
#und-sec .content-info .icon-sec .icon p{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}
#und-sec .content-info .icon-sec .icon-price {
    max-width: 170px;
    width: 100%;
}
#und-sec .content-info .icon-sec .icon-price img{
    width: 170px;
    margin-top: -25px;
}
@media (max-width:1140px) {
    #und-sec{
        padding: 20px 10px;
    }
    #und-sec .tarotist{
        height: 380px;
    }
    #und-sec .content-info{
        padding: 20px;
        max-width: 800px;
        width: 100%;
    }

    #und-sec .content-info .sub-text p{
        font-size: 16px;
        text-align: center;
        padding: 40px 0;
        font-weight: 500;
        letter-spacing: 1px;
    }

    #und-sec .content-info .icon-sec .icon{
        max-width: 120px;
        width: 100%;
    }
    #und-sec .content-info .icon-sec .icon .icono{
        height: 60px;
    }
    #und-sec .content-info .icon-sec .icon img{
        width: auto;
        display: block;
        margin: auto;
        height: 50px;
    }
    #und-sec .content-info .icon-sec .icon p{
        text-align: center;
        font-size: 13px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    #und-sec .content-info .icon-sec .icon-price img{
        width: 150px;
        display: block;
        margin: auto;
    }
}