@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
body {
  background: url(../img/bg.jpg) center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover, a:active, a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0 0 0px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin: 0 0 0 0;
  padding: 0;
}
.paso {
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 750px;
}
.paso span{
  background: #fff;
  color: #000;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  float: left;
  margin-top: 7px;
  font-size: 27px;
}
.paso h2{
  color:#ffffff;
  font-size: 35px;
  font-weight: 400;
}
@media (max-width: 550px){
  .paso {
    padding: 7px 0px 7px 0px;
    max-width: 300px;
    margin-top: 0px;
  }
  .paso h2{
    font-size: 19px;
  }
  .paso span{
    height: 20px;
    width: 20px;
    margin-top: 3px;
    font-size: 17px;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 997;
}
#header .container {
  position: relative;
  bottom: 0;
  top: 0px;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
#header h1{
  color: #fff;;
  padding: 20px 0;
  font-weight: 400;
}
#header .logo img{
  max-width: 750px;
  width: 100%;
  margin-bottom: 20px;
}
.bar-header{
  max-width: 750px;
  display: block;
  margin: auto;
  margin-top: 30px;
}
.bar-header .bar-header-bg{
  background: linear-gradient(to right, rgb(246, 250, 30), rgba(255, 255, 255, 0));
  padding: 10px 0;
}
.bar-header .bar-header-bg .text h3{
  text-shadow: 5px 0px 5px rgb(0, 0, 0);
  font-size: 40px;
}
@media (max-width: 991px){
  #header h1{
    font-size: 39px !important;
  }
}
@media (max-width: 767px){
  #header h1{
    font-size: 29px !important;
  }
}
@media (max-width: 550px){
  #header h1{
    font-size: 18px !important;
    padding: 10px 0;
  }
  #header .logo img{
    max-width: 300px;
    width: 100%;
    margin-bottom: 0px;
  }
  .bar-header{
    max-width: 300px;
    margin-top: 10px;
  }
  .bar-header .bar-header-bg{
    padding: 10px 0;
  }
  .bar-header .bar-header-bg .text h3{
    font-size: 20px;
  }
}

/* Contact Section
--------------------------------*/
#contact {
  color: #fff;
  text-align: center;
}
#contact .form{
  max-width: 750px;
  width: 100%;
}
#contact .form #sendmessage {
  color: #ff9595;
  border: 1px solid #ff9595;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  border-radius: 5px;
}
#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}
#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}
#contact .form input {
  border-radius: 0px;
  box-shadow: none;
  font-size: 30px;
  background: #fff;
  border-color: rgb(112, 112, 112);
  color: #000;
  text-indent:10px;
  width: 100%;
  border-style: none;
  height: 36px;
}
#contact .form input[type=checkbox]{
  width: auto;
  height: 20px;
  width: 20px;
}
#contact .check {
  color: #fff;
  font-size: 27px;
  text-align: left;
  line-height: 30px;
}
#contact input::placeholder { 
  color: #000; 
}
#contact .form button[type="submit"] {
  background: #ffff00;
  border: 0;
  padding: 8px 8px;
  color: #000;
  transition: 0.4s;
  border-radius: 0px;
  margin-bottom: 100px;
  width: 200px;
  font-size: 35px;
}
#contact .form button[type="submit"]:hover {
  background: #1f5aa7;
  color: #fff;
}
@media (max-width: 550px){
  #contact .form{
    max-width: 300px;
    width: 100%;
  }
  #contact .form input {
    font-size: 17px;
    height: 25px;
    text-indent: 0px;
  }
  #contact .form input[type=checkbox]{
    width: auto;
    height: 20px;
    width: 20px;
  }
  #contact .form input[type=checkbox]{
    height: 13px;
    width: 13px;
  }
  #contact .check {
    font-size: 15px;
    line-height: 20px;
  }
  #contact .form button[type="submit"] {
    width: 140px;
    font-size: 25px;
  }
}

/*cards section*/
#cards {
  margin-top: 0px;
}
#header .spc_cartas_all {
  margin-top: 0px;
  padding: 0px 0;
}

/* card */
.content_cards {
  grid-column: span 2;
}
.cartas_sec {
  position: relative;
}
.cartas_sec .container {
  position: relative;
}
.spc_cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.spc_cards .cards {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4vw;
}
.spc_cards .cards .card {
  position: relative;
  width: 100%;
  background: none;
  border-style: none;
}
.spc_cards .cards .card .cara_carta, .spc_cards .cards .card .atras_carta {
  width: 100%;
  transition: 0.4s;
}
.spc_cards .cards .card .cara_carta {
  position: relative;
  z-index: 1;
  transform: rotateY(180deg);
}
.spc_cards .cards .card .cara_carta img {
  width: 100%;
}
.spc_cards .cards .card .atras_carta {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.spc_cards .cards .card .atras_carta img {
  width: 100%;
}
.spc_cards .cards .active {
  transform: rotatez(0deg) !important;
}
.spc_cards .cards .active .cara_carta {
  z-index: 2;
  transform: rotateY(0deg);
}
.spc_cards .cards .active .atras_carta {
  z-index: 1;
  transform: rotateY(180deg);
}
.card .footer-text {
  padding: 10px 0;
  display: none;
}
.card .footer-text h2{
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: #fff;
  font-size: 55px;
}
@media (max-width: 991px){
  .card .footer-text h2{
    font-size: 53px;
  }
}
@media (max-width: 767px){
  .card .footer-text h2{
    font-size: 39px !important;
  }
}
@media (max-width: 550px){
  .spc_cards .cards {
    max-width: 300px;
  }
  .card .footer-text h2{
    font-size: 22px !important;
  }
}