/* img's */
.chat-section .header-bg .photo-online img{
    max-width: 150px;
    margin-right: 20px;
}
.chat-section .content-text .profile-photo img{
    max-width: 80px;
    position: relative;
    z-index: 5;
}
/* generales */
.chat-section{
    padding: 0px 0 50px 0;
}
.chat-bg-border{
    background: #fff;
    border: 18px #fff solid;
    border-radius: 20px;
}
.chat{
    position: relative;
}
.chat-section .header-bg{
    background: linear-gradient(90deg, rgba(183,169,142,1) 0%, rgba(220,214,170,1) 50%, rgba(183,169,142,1) 100%);
    height: 80px;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 5;
}
.chat-section .header-bg .profile-info{
    display: flex;
    align-items: center;
    position: absolute;
    top: -32px;
    left: 40px;
}
.chat-section .header-bg .call i{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 40px;
    text-shadow: 3px 3px 3px #333;
}
.chat-section .header-bg .profile-info h3{
    color: #fff;
    font-weight: bold;
    line-height: 20px;
}
.chat-section .header-bg .profile-info span{
    color: #fff;
    font-size: 20px;
    line-height: 0px;
}
.chat-section .chat-sec{
    padding: 50px 2px 50px 2px;
    background: url(../img/bg-chat.png) left;
    background-size: contain;
    border-radius: 0 0 20px 20px;
    height: 490px;
	overflow-y: scroll;

}
/* burbujaschat */
.chat-section .chat-sec .text-bg{
    background: #fff;
    max-width: 500px;
    border-radius: 15px;
    padding: 15px 20px;
}
.chat-section .chat-sec .msg{
    margin-bottom: 40px;
}
.chat-section .chat-sec .content-text{
    display: flex;
    align-items: center;
}
/* burbuja chat - Samanta */
.samanta-msg {
    margin-left: 20px;
    display: flex;
    justify-content: start;
    position: relative;
}
.burbuja-footer img{
    width: 100px;
    bottom: -27px;
    position: absolute;
}
.samanta-msg .content-text{
    position: relative;
}
.samanta-msg i{
    position: absolute;
    bottom: -10px;
    right: -10px;
}
/* burbuja chat - user */
.user-msg {
    margin-right: 20px;
    display: flex;
    justify-content: end;
}
/* text-bar */
.composed-text {
    padding: 0 20px 0 20px ;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 6;
}
.composed-text .form-group{
    position: relative;
}
.composed-text textarea{
    width: 100%;
    min-height: 45px;
    max-height: 45px;
    border-style: none;
    border-radius: 20px;
    text-indent: 10px;
    font-size: 25px;
    resize: none;
}
.composed-text button{
    position: absolute;
    right: 5px;
    border-style: none;
    color: #fff;
    background: #08bf08;
    padding: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: calc(50% - 15px);
    box-shadow: 3px 3px 6px #333;
}
@media (max-width: 575px){
    .chat-section .header-bg .photo-online img{
        max-width: 100px;
        margin-right: 15px;
    }
    .chat-section .content-text .profile-photo img{
        max-width: 50px;
    }
    .chat-bg-border{
        background: #fff;
        border: 9px #fff solid;
        border-radius: 20px;
    }
    .chat-section .header-bg{
        height: 50px;
        border-radius: 20px 20px 0 0;
    }
    .chat-section .header-bg .profile-info{
        top: -20px;
        left: 20px;
    }
    .chat-section .header-bg .profile-info h3{
        font-size: 16px;
        line-height: 5px;
    }
    .chat-section .header-bg .profile-info span{
        color: #fff;
        font-size: 16px;
        line-height: 0px;
    }
    .chat-section .header-bg .call i{
        position: absolute;
        right: 20px;
        top: 15px;
        color: #fff;
        font-size: 20px;
        text-shadow: 3px 3px 3px #333;
    }
    /* burbujaschat */
    .chat-section .chat-sec .text-bg{
        background: #fff;
        max-width: 500px;
        border-radius: 5px;
        padding: 10px 10px;
    }
    .chat-section .chat-sec .msg{
        margin-bottom: 20px;
    }
    .chat-section .chat-sec .content-text{
        display: flex;
        align-items: center;
    }
    .chat-section .chat-sec .content-text span{
        font-size: 12px;
        line-height: 0px;
    }
    /* burbuja chat - Samanta */
    .samanta-msg {
        margin-bottom: 50px;
        margin-left: 0px;
        padding-right: 20px;
    }
    /* burbuja chat - user */
    .user-msg {
        margin-right: 0px;
        padding-left: 20px;
    }
    .composed-text textarea{
        min-height: 35px;
        max-height: 35px;
        text-indent: 10px;
        font-size: 20px;
    }
    .composed-text button{
        position: absolute;
        right: 5px;
        border-style: none;
        color: #fff;
        background: #08bf08;
        padding: 4px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        top: calc(50% - 15px);
        box-shadow: 3px 3px 6px #333;
    }
}