@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@font-face {
    font-family: 'cuerpo';
    src: url(../css/fonts/PPTelegraf-Regular.otf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
body{
    background: url(../img/bg.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'cuerpo';
}

h1{
    font-family: 'Alice', serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 55px;
}

h2{
    font-family: 'Alice', serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 37px;
}
h3{
    font-size: 40px;
    letter-spacing: 5px;
    margin: 0;
}
@media (max-width:1090px) {
    h1{
        letter-spacing: 3px;
        font-size: 45px;
    }
    
    h2{
        letter-spacing: 3px;
        font-size: 30px;
    }

    h3{
        font-size: 30px;
        letter-spacing: 4px;
    }
}
@media (max-width:900px){
    h1{
        letter-spacing: 3px;
        font-size: 30px;
    }
    
    h2{
        letter-spacing: 3px;
        font-size: 20px;
        margin: 0;
    }

    h3{
        font-size: 20px;
        letter-spacing: 4px;
    }
}
@media (max-width:628px){
    body{
 
    }
    h1{
        letter-spacing: 3px;
        font-size: 16px;
    }
    
    h2{
        letter-spacing: 3px;
        font-size: 16px;
        margin: 0;
    }

    h3{
        font-size: 12px;
        letter-spacing: 3px;
    }
}

/* header */
#header{
    padding: 30px 0;
}

#header .redes{
    position: absolute;
    right: 0;
}

#header .redes img{
    max-width: 50px;
    margin-bottom: 10px;
}

#header .redes .content{
    background: #deeee4;
    padding: 20px 10px 10px 10px;
    border-radius: 20px 0 0 20px;
}

#header .logo img{
    max-width: 700px;
    width: 100%;
    display: block;
    margin: auto;
}

#header .bienvenida {
    justify-content: center;
    align-items: center;
}

#header .bienvenida img{
    max-width: 50px;
    width: 100%;
}

#header .bienvenida .bg-bienvenida{
    background: #ffffffc5;
    color: black;
    text-align: center;
    min-width: 800px;
    margin: 20px 80px;
}
@media (max-width:1090px) {
    #header .logo img{
        max-width: 550px;
        width: 100%;
    }

    #header .bienvenida .bg-bienvenida{
        min-width: 640px;
    }

    #header .bienvenida img{
        max-width: 40px;
        width: 100%;
    }
}
@media (max-width:900px){
    #header{
        padding: 20px 0 0 0;
    }

    #header .logo img{
        max-width: 420px;
        width: 100%;
    }

    #header .redes img{
        max-width: 30px;
        margin-bottom: 5px;
    }
    
    #header .redes .content{
        background: #deeee4;
        padding: 10px 10px 5px 10px;
        border-radius: 10px 0 0 10px;
    }

    #header .bienvenida .bg-bienvenida{
        min-width: 440px;
        margin: 20px 40px;
    }

    #header .bienvenida img{
        max-width: 30px;
        width: 100%;
    }
}
@media (max-width:628px){
    #header .logo img{
        max-width: 220px;
        width: 100%;
        margin-bottom: 20px;
    }

    #header .redes img{
        max-width: 30px;
        margin-bottom: 5px;
    }
    
    #header .redes .content{
        background: #deeee4;
        padding: 10px 10px 5px 10px;
        border-radius: 10px 0 0 10px;
    }

    #header .bienvenida .bg-bienvenida{
        min-width: 250px;
        margin: 0 10px 0 10px;
    }

    #header .bienvenida img{
        max-width: 20px;
        width: 100%;
    }
}

/* links */
#links{
    padding: 30px 0;
}

#links .link-tittle{
    position: absolute;
    left: calc(50% - 410px);
    top: -30px;
}

#links .links-bg{
    background: #1a193dcb;
    max-width: 1050px;
    width: 100%;
    display: block;
    margin: auto;
    position: relative;
}

#links .link-1{
    padding-top: 100px;
}

#links .link-4{
    padding-bottom: 50px;
}

#links .img-start{
    position: absolute;
    left: 30px;
    z-index: 1;
}

#links .img-start img{
    max-width: 120px;
    width: 100%;
}

#links .link-content{
    align-items: center;
    position: relative;
    z-index: 2;
}

#links .link a{
    text-decoration: none;
    color: #fff;
}

#links .link a:hover{
    color: #fff;
}

#links .link-content img{
    max-width: 60px;
    margin-right: 50px;
}

#links .link-content .msg-white{
    margin-left: 50px;
    margin-right: 0;
}

#links .link .link-content{
    border: 2px #fff solid;
    margin: 50px 80px;
    padding: 20px 50px;
}

#links .img-stars{
    
}

#links .img-stars img{
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

@media (max-width:1090px) {
    #links .link-tittle{
        position: absolute;
        left: calc(50% - 342px);
        top: -23px;
    }
    #links .links-bg{
        background: #1a193dcb;
        max-width: 900px;
        width: 100%;
        display: block;
        margin: auto;
        position: relative;
    }
    #links .img-start img{
        max-width: 100px;
        width: 100%;
    }
    #links .link-content img{
        max-width: 50px;
        margin-right: 50px;
    }
}
@media (max-width:900px){
    #links .link-tittle{
        position: absolute;
        left: calc(50% - 239px);
        top: -21px;
    }

    #links .links-bg{
        background: #1a193dcb;
        max-width: 600px;
        width: 100%;
    }

    #links .img-start{
        left: 10px;
        z-index: 1;
    }

    #links .img-start img{
        max-width: 100px;
        width: 100%;
    }

    #links .link-1{
        padding-top: 40px;
    }
    
    #links .link-4{
        padding-bottom: 30px;
    }

    #links .img-start img{
        max-width: 70px;
        width: 100%;
    }

    #links .link .link-content{
        border: 2px #fff solid;
        margin: 35px 50px;
        padding: 10px 30px;
    }

    #links .link-content img{
        max-width: 30px;
        margin-right: 40px;
    }

    #links .link-content .msg-white{
        margin-left: 40px;
        margin-right: 0;
    }
}

@media (max-width:628px){
    #links .link-tittle{
        position: absolute;
        left: calc(50% - 144px);
        top: -8px;
    }

    #links .img-start{
        left: 2px;
        z-index: 1;
    }

    #links .img-start img{
        max-width: 30px;
        width: 100%;
    }

    #links .links-bg{
        background: #1a193dcb;
        max-width: 328px;
        width: 100%;
    }

    #links .link .link-content{
        border: 2px #fff solid;
        margin: 25px 20px;
        padding: 10px 10px;
    }

    #links .link-content img{
        max-width: 20px;
        margin-right: 10px;
    }

    #links .link-content .msg-white{
        margin-left: 10px;
        margin-right: 0;
    }

    #links .link-1{
        padding-top: 20px;
    }
    
    #links .link-4{
        padding-bottom: 5px;
    }

}

/* footer */
#footer{
    padding: 80px 0;
}

#footer p{
    text-align: center;
    letter-spacing: 4px;
    font-size: 23px;
    margin: 0;
}

#footer img{
    max-width: 40px;
    width: 100%;
    display: block;
    margin: auto;
}

@media (max-width:1090px){
    #footer p{
        letter-spacing: 4px;
        font-size: 18px;
    }
    
    #footer img{
        max-width: 30px;
        width: 100%;
    }
}
@media (max-width:900px){
    #footer{
        padding: 50px 0;
    }

    #footer p{
        letter-spacing: 3px;
        font-size: 15px;
    }
    
    #footer img{
        max-width: 20px;
        width: 100%;
    }
}
@media (max-width:628px){
    #footer{
        padding:0 0 20px 0;
    }

    #footer p{
        letter-spacing: 2px;
        font-size: 8px;
    }
    
    #footer img{
        max-width: 15px;
        width: 100%;
    }
}