@font-face {
  font-family: 'tittle';
  src: url(../css/font/Bentho.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'cuerpo';
  src: url(../css/font/LEMONMILK-Light.otf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'cuerpo-bold';
  src: url(../css/font/LEMONMILK-Bold.otf) format('opentype');
  font-style: normal;
  font-weight: normal;
}
body {
  background: #fff;
  color: #000;
  font-family: "Open Sans", sans-serif;
  z-index: -0;
}
main{
  background: url(../img/bg-sec-1.png) center;
  background-size: cover;
}
a:hover, a:active, a:focus {
  color: #000;
  outline: none;
  text-decoration: none;
}
h1{
  text-align: center;
  font-family: 'tittle';
  font-size: 80px;
  color: #b7a98e;;
  line-height: 80px;
  margin-top: 30px;
}
.paso{
  padding: 50px 0;
  text-align: center;
  color: #233950;
}
.paso span{
  font-weight: bold;
  color: #233950;
}
@media (max-width: 767px){
  h1{
    font-size: 50px;
    line-height: 40px;
    margin-top: 30px;
  }
  .paso{
    padding: 10px 0;
  }
  .paso h4{
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 575px){
  h1{
    font-size: 30px;
    line-height: 30px;
    margin-top: 25px;
  }
  .paso{
    padding: 0px 0;
  }
  .paso h4{
    font-size: 13px;
    line-height: 20px;
  }
}
/* header */
#header{
  background-size: cover;
}
#header img{
  width: 100%;
}
#header .tittle{
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
}
#header p{
  text-align: center !important;
  margin-top: -20px;
  font-size: 40px;
  color: #b7a98e;
  text-transform: uppercase;
}
#header .img-tarotista span{
  width: 300px;
  margin-left: 500px;
}
@media (max-width: 1002px) {
  #header .img-tarotista span{
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  #header .img-tarotista span{
    margin-left: 250px;
    width: 200px;
  }
  #header p{
    font-size: 13px;
  }
}
@media (max-width: 575px){
  #header .img-tarotista span{
    margin-left: 95px;
    width: 120px;
  }
  #header p{
    font-size: 10px;
  }
}

/* cartas */
@media (max-width: 575px){
  #cartas{
    padding: 20px 0;
  }
}


/* contact */
#contact{
  padding: 30px 0;
}
#contact .content-form{
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}
#contact .tarotista img{
  width: 220px;
  position: absolute;
  left: calc(50% - 110px);
  top: 0px;
}
#contact .form-bg{
  background: url(../img/bg-form.png) center;
  background-size: cover;
  max-width: 800px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #3b4953;
  display: block;
  margin: auto;
}
#contact form{
  margin-top: 120px;
  padding-left: 30px;
  padding-right: 30px;
}
#contact form .form-group {
  padding-bottom: 10px;
}
#contact form .form-group input, select{
  width: 100%;
  background: #e1e3e2;
  border-style: none;
  border-radius: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  color: #3b4953;
}
#contact form .form-group input::placeholder{
  opacity: 10;
  color: #3b4953;
}
#contact .form-group-check input{
  margin-right: 10px;
}
#contact .form-group-check{
  text-align: center;
}
#contact form button{
  background: #233950;
  color: #fff;
  border-style: none;
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 23px;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-top: 40px;
  box-shadow: 3px 3px 6px #000;
}
@media (max-width: 767px){
  #contact{
    padding: 15px 0;
  }
  #contact .content-form{
    padding-top: 40px;
    padding-bottom: 50px;
  }
  #contact .tarotista img{
    width: 120px;
    left: calc(50% - 60px);
  }
  #contact .form-bg{
    padding: 15px;
    border-radius: 10px;
  }
  #contact form{
    margin-top: 90px;
  }
  #contact form .form-group {
    padding-bottom: 0px;
  }
  #contact form .form-group input, select{
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
  }
  #contact .form-group-check label{
    font-size: 8px;
  }
  #contact form button{
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
  }
}
@media (max-width: 575px){
  #contact .tarotista img{
    width: 100px;
    left: calc(50% - 50px);
  }
  #contact form{
    margin-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .form-tittle{
    max-width: 250px;
    display: block;
    margin: auto;
    padding-bottom: 20px;
  }
  #contact form .form-group input, select{
    font-size: 12px;
    font-weight: lighter;
  }
  #contact .form-group-check input{
    margin-right: 5px;
  }
  #contact form button{
    font-size: 13px;
  }
}

/* aviso */
#aviso{
  padding: 40px;
  background: url(../img/bg-aviso.png) center;
  background-size: cover;
}
#aviso .bg-aviso{
  text-align: center;
}
#aviso .bg-aviso h4 span{
  color: #b7a98e;
  font-style: italic;
}
#aviso .bg-aviso h4{
  font-size: 27px;
  color: #d4d8d7;
  line-height: 45px;
}
#aviso .bg-aviso .color-space{
  color: #d4d8d7;
  font-weight: bold;
}
@media (max-width: 767px){
  #aviso .bg-aviso h4{
    font-size: 17px;
    line-height: 27px;
  }
}
@media (max-width: 575px){
  #aviso{
    padding: 20px 5px;
  }
  #aviso .bg-aviso h4{
    font-size: 10px;
    line-height: 17px;
  }
}

/* sobremi */
#sobremi{
  background: #d4d8d7;
}
#sobremi .content-bg{
  padding: 80px 0;
  background: url(../img/bg-sobremi.png) center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}
#sobremi .sobremi-content{
  align-items: center;
}
#sobremi .tittle{
  max-width: 230px;
  display: block;
  margin: auto;
}
#sobremi .tittle .movil{
  display: none;
}
#sobremi .tittle span{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: #233950;
}
#sobremi h2{
  font-family: 'tittle';
  text-align: right;
  font-size: 35px;
  color: #233950;
}
#sobremi .tarotista img{
  max-width: 300px;
  width: 100%;
  margin-right: 30px;
}
#sobremi .text p{
  text-align: center;
  font-weight: bold;
  color: #233950;
}
@media (max-width: 767px){
  #sobremi .content-bg{
    padding: 40px 0;
    background: url(../img/bg-sobremi-movil.png) center;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
  #sobremi .tarotista img{
    max-width: 200px;
    width: 100%;
    margin-right: 0px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
  }
  #sobremi .tittle{
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;
  }
  #sobremi .tittle h2{
    text-align: center;
  }
  #sobremi .tittle .escritorio{
    display: none;
  }
  #sobremi .tittle .movil{
    display: block;
  }
}
@media (max-width: 575px){
  #sobremi .content-bg{
    padding: 40px 0;
  }
  #sobremi .tarotista img{
    max-width: 150px;
    width: 100%;
  }
  #sobremi .tittle{
    max-width: 170px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  #sobremi .tittle span{
    font-size: 15px;
  }
  #sobremi h2{
    font-family: 'tittle';
    text-align: right;
    font-size: 25px;
  }
  #sobremi .text p{
    text-align: center;
    font-size: 10px;
  }
}

/* sobretarot */
#sobretarot{
  padding: 50px 0;
  background: url(../img/bg-sec-2.png) center;
  background-size: cover;
}
#sobretarot article{
  margin-top: 50px;
}
#sobretarot .sobretarot-content{
  
}
/* azul */
#sobretarot #azul-bg .tarotista .movil{
  display: none;
}
#sobretarot #azul-bg .tarotista img{
  margin-top: 0px;
  width: 100%;
  z-index: 1;
  position: relative;
}
#azul-bg{
  /* background: linear-gradient(to right, #9ebcbe 80%, rgba(255, 255, 255, 0)20%); */
  background: url(../img/bg-azul.png) top;
  background-size: 80%;
  background-position: left;
  background-repeat: repeat-y;
  padding: 50px;
  position: relative;
}
#azul-bg .text-article{
  padding-top: 50px;
}
#azul-bg .botones{
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
#azul-bg .botones i{
  color: #b7a98e;
  font-size: 38px;
  margin-right: 20px;
  text-shadow: 3px 3px 6px #000;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
#azul-bg .boton .btn{
  background: #b7a98e;
  border-style: none;
  border: 1px #fff solid;
  border-radius: 50px;
  font-size: 25px;
  padding: 5px 50px;
  font-weight: bold;
  box-shadow: 3px 3px 9px #000;
  margin-bottom: 10px;
}
#azul-bg .tarifa-btn{
  color: #fff;
  font-size: 13px;
  text-align: center;
}
#sobretarot #azul-bg .text-article .text{
  text-align: justify;
  color: #fff;
  font-weight: bold;
}
#sobretarot #azul-bg .text-article .tittle{
  text-align: right;
  padding-bottom: 20px;
}
#sobretarot #azul-bg .text-article .tittle h3 span{
  background: #efece8;
  padding: 0 100px 0 5px;
  margin-right: -91px;
  z-index: 2;
  position: relative;
  font-weight: bold;
  color: #334354;
}
#sobretarot #azul-bg .cinta span{
  width: 200px;
  height: 40px;
  padding: 0px 90px;
  background: #b7a98e;
  color: #b7a98e;
  position: absolute;
  top: -10px;
  left: 20px;
  transform: rotate(-15deg);
}
/* dorado */
#sobretarot #dorado-bg .tarotista img{
  width: 100%;
  z-index: 1;
  position: relative;
}
#dorado-bg{
  /* background: linear-gradient(to left, #b7a98e 80%, rgba(255, 255, 255, 0)20%); */
  background: url(../img/bg-dorado.png) top;
  background-size: 80%;
  background-position: right;
  background-repeat: no-repeat;
  padding: 50px;
  position: relative;
}
#dorado-bg .text-article{
  padding-top: 50px;
}
#dorado-bg .botones{
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
#dorado-bg .botones i{
  color: #233950;
  font-size: 38px;
  margin-right: 20px;
  text-shadow: 3px 3px 6px #000;
  -webkit-text-stroke: 0px #fff;
}
#dorado-bg .boton .btn{
  background: #233950;
  border-style: none;
  border: 0px #fff solid;
  border-radius: 50px;
  font-size: 30px;
  padding: 5px 50px;
  font-weight: bold;
  box-shadow: 3px 3px 9px #000;
  margin-bottom: 10px;
  color: #fff;
}
#dorado-bg .tarifa-btn{
  color: #fff;
  font-size: 13px;
  text-align: center;
}
#sobretarot #dorado-bg .text-article .tittle{
  text-align: left;
  padding-bottom: 20px;
}
#sobretarot #dorado-bg .text-article .tittle h3 span{
  background: #efece8;
  padding: 0 5px;
  margin-left: -65px !important;
  z-index: 2;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  color: #b7a98e;
}
#sobretarot #dorado-bg .text-article .text{
  text-align: justify;
  color: #fff;
  font-weight: bold;
}
#sobretarot #dorado-bg .cinta span{
  width: 180px;
  height: 50px;
  padding: 0px 90px;
  background: #233950;
  color: #233950;
  position: absolute;
  top: -10px;
  right: 20px;
  transform: rotate(30deg);
}
@media (max-width: 767px){
  /* azul */
  #sobretarot #azul-bg .tarotista img{
    padding-bottom: 20px;
    max-width: 200px;
    display: block;
    margin: auto;
    transform: rotate(-3deg);
  }
  #azul-bg{
    /* background: linear-gradient(to top, #9ebcbe 90%, rgba(255, 255, 255, 0)10%); */
    background: url(../img/bg-azul-movil.png) top;
    background-size: 100%;
    background-position: top;
    background-repeat: repeat;
    padding: 50px;
    position: relative;
  }
  #sobretarot #azul-bg .cinta span{
    width: 80px ;
    height: 25px;
    padding: 0px 90px;
    top: 90px;
    left: -35px;
    transform: rotate(-30deg);
  }
  #azul-bg .text-article {
    padding-top: 0px;
  }
  #sobretarot #azul-bg .text-article .tittle{
    transform: rotate(-3deg);
    padding: 30px 0;
  }
  #sobretarot #azul-bg .text-article .tittle h3 span{
    padding: 0 5px;
    margin-right: -61px;
  }
  #sobretarot #azul-bg .tarotista .escritorio{
    display: none;
  }
  #sobretarot #azul-bg .tarotista .movil{
    display: block;
    margin: auto;
  }
  /* dorado */
  #sobretarot #dorado-bg .tarotista img{
    padding-bottom: 20px;
    max-width: 200px;
    display: block;
    margin: auto;
    transform: rotate(3deg);
  }
  #dorado-bg{
    /* background: linear-gradient(to top, #9ebcbe 90%, rgba(255, 255, 255, 0)10%); */
    background: url(../img/bg-dorado-movil.png) top;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    padding: 50px;
    position: relative;
  }
  #dorado-bg .sobretarot-content{
    margin-top: 0px;
  }
  #sobretarot #dorado-bg .cinta span{
    width: 140px;
    height: 40px;
    padding: 0px 50px;
    top: 85px;
    right: -20px;
    transform: rotate(30deg);
  }
  #dorado-bg .text-article {
    padding-top: 0px;
  }
  #sobretarot #dorado-bg .text-article .tittle{
    transform: rotate(3deg);
    padding: 30px 0;
  }
  #sobretarot #dorado-bg .text-article .tittle h3 span{
    padding: 0 5px;
    margin-left: -65px !important;
  }
}
@media (max-width: 575px){
  #sobretarot{
    padding: 20px 20px;
  }
  #sobretarot article{
    margin-top: 0;
    margin-bottom: 50px;
  }
  /* dorado */
  #sobretarot #dorado-bg .tarotista img{
    padding-bottom: 10px;
    max-width: 130px;
  }
  #dorado-bg{
    /* background: linear-gradient(to top, #b7a98e 93%, rgba(255, 255, 255, 0)7%); */
    padding: 20px;
  }
  #dorado-bg .text-article{
    padding-top: 0px;
  }
  #sobretarot #dorado-bg .cinta span{
    width: 80px;
    height: 20px;
    padding: 0px 30px;
    top: 50px;
    right: -15px;
    transform: rotate(33deg);
  }
  #dorado-bg .botones i{
    font-size: 28px;
    margin-right: 10px;
  }
  #sobretarot #dorado-bg .text-article .tittle{
    transform: rotate(3deg);
    padding: 5px 0;
  }
  #sobretarot #dorado-bg .text-article .tittle h3 span{
    padding: 0 5px;
    margin-left: -35px !important;
    font-size: 15px;
  }
  #sobretarot #dorado-bg .text-article .text p{
    font-size: 10px;
  }
  #dorado-bg .boton img{
    max-width: 200px;
  }
  #dorado-bg .boton .btn{
    font-size: 20px;
    padding: 5px 30px;
    margin-bottom: 5px;
  }
  #dorado-bg .tarifa-btn{
    font-size: 8px;
  }
  /* azul */
  #sobretarot #azul-bg .tarotista img{
    padding-bottom: 20px;
    max-width: 130px;
  }
  #azul-bg{
    /* background: linear-gradient(to top, #9ebcbe 93%, rgba(255, 255, 255, 0)7%); */
    padding: 20px;
  }
  #azul-bg .text-article{
    padding-top: 0px;
  }
  #azul-bg .botones i{
    font-size: 28px;
    margin-right: 10px;
  }
  #sobretarot #azul-bg .cinta span{
    width: 60px ;
    height: 25px;
    padding: 0px 40px;
    top: 50px;
    left: -15px;
    transform: rotate(-30deg);
  }
  #sobretarot #azul-bg .text-article .tittle{
    transform: rotate(-3deg);
    padding: 5px 0;
  }
  #sobretarot #azul-bg .text-article .tittle h3 span{
    padding: 0 5px;
    margin-right: -35px;
    font-size: 15px;
  }
  #sobretarot #azul-bg .text-article .text p{
    font-size: 10px;
  }
  #azul-bg .boton img{
    max-width: 200px;
  }
  #azul-bg .boton .btn{
    font-size: 15px;
    padding: 5px 30px;
    margin-bottom: 5px;
  }
  #azul-bg .tarifa-btn{
    font-size: 8px;
  }
}

/* calltoaction */
#calltoacction{
  padding: 20px;
  background: #233950;
}
#calltoacction .text{
  color: #b7a98e;
  text-align: center;
  padding-bottom: 30px;
}
#calltoacction .text h5{
  font-size: 18px;
  line-height: 35px;
}
#calltoacction .text span{
  font-weight: bold;
}
#calltoacction .botones{
  justify-content: center;
  align-items: center;
}
#calltoacction .botones i{
  color: #9ebabe;
  font-size: 38px;
  margin-right: 20px;
  text-shadow: 3px 3px 6px #000;
}
#calltoacction .boton .btn{
  background: #9ebabe;
  border-style: none;
  border: 0px #fff solid;
  border-radius: 50px;
  font-size: 30px;
  padding: 5px 50px;
  font-weight: bold;
  box-shadow: 3px 3px 9px #000;
  margin-bottom: 10px;
  color:#233950;
}
#calltoacction .tarifa-btn{
  color: #b7a98e;
  font-size: 13px;
  text-align: center;
}
@media (max-width: 767px){
  #calltoacction .text h5{
    font-size: 14px;
    line-height: 25px;
  }
  #calltoacction .text{
    padding-bottom: 20px;
  }
  #calltoacction .tarifa-btn{
    font-size: 10px;
  }
}
@media (max-width: 575px){
  #calltoacction .text h5{
    font-size: 10px;
    line-height: 15px;
  }
  #calltoacction .text{
    padding-bottom: 10px;
  }
  #calltoacction .tarifa-btn{
    font-size: 8px;
  }
  #calltoacction .boton img{
    max-width: 200px;
  }
  #calltoacction .boton .btn{
    font-size: 20px;
    padding: 5px 30px;
    margin-bottom: 5px;
  }
}

/* footer */
footer{
  padding: 30px 0 15px 0;
  background: #9ebabe;
}
footer p{
  text-align: center;
  font-size: 13px;
  color: #233950;
}
footer a{
  font-style: none;
  color: #233950;
}
@media (max-width: 767px){
  footer p{
    font-size: 9px;
  }
}
@media (max-width: 575px){
  footer p{
    font-size: 8px;
  }
}