@font-face {
    font-family: 'titulos';
    src: url(../css/fonts/antique_wonders/AntiqueWonders\ Free.woff) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'subtitulos';
    src: url(../css/fonts/bebas/Bebas-Regular.otf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'content-text';
    src: url(../css/fonts/biko/Biko_Regular.otf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'boton';
    src: url(../css/fonts/lemon_milk/LEMONMILK-Regular.otf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

body{
    background: #bbd8b3;
}
h1{
    font-family: 'titulos';
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

h2{
    font-size: 75px;
    font-family: 'subtitulos';
    text-align: center;
    font-weight: bold;
    letter-spacing: -3px;
}

h3, h4, h5{
    font-family: 'subtitulos';
}

h6{
    font-family: 'content-text';
    font-weight: bold;
    font-size: 50px;
    letter-spacing: -2.5px;
}

main{
    background: url(../img/bg-header.png) top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.movil{
    display: none;
}
/*  */
@media (max-width:1200px) {

    h1{
        font-size: 35px;
    }

}
@media (max-width:871px){

    h1{
        font-size: 28px;
    }

    main{
        background: url(../img/bg-header-movil.png) top;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .movil{
        display: block;
    }

    .escritorio{
        display: none;
    }
}

@media (max-width:771px){
    h1{
        font-size: 15px;
    }
}

/* header */
#header .top-bar{
    background: #f3b61f;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#header .top-bar .img-tarotista img{
    max-width: 200px;
    width: 100%;
    padding: 15px;
}

#header .subtittle{
    padding: 70px 0 40px 0;
}

#header .subtittle img{
    max-width: 800px;
    width: 100%;
    display: block;
    margin: auto;
}

#header .call-to-action-btn{
    background: #a29f15;
    padding: 20px 10px 15px 10px;
    width: 420px;
    display: block;
    margin: auto;
    text-align: center;
    box-shadow: 2px 2px 5px 0 #000;
    border-radius: 0px;
    margin: 0 10px;
}

#header .call-to-action-btn h5{
    font-size: 59px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    font-family: 'boton';
    letter-spacing: -2px;
}

#header .call-to-action-btn p{
    color: #000;
    font-size: 43px;
    font-family: 'subtitulos';
    margin-bottom: -10px;
    padding: 0;
}

#header .boton button{
    font-family: 'boton';
}
@media (max-width:1200px){
    #header .top-bar .img-tarotista img{
        max-width: 130px;
        width: 100%;
        padding: 5px;
    }

    #header .call-to-action-btn{
        width: 255px;
    }
    
    #header .call-to-action-btn h5{
        font-size: 33px;
        line-height: 10px;
        letter-spacing: -3px;
        margin: -10 0 0 0;
    }
    
    #header .call-to-action-btn p{
        font-size: 21px;
    }
}
@media (max-width:871px){
    #header .top-bar{
        padding: 0;
    }
    #header .top-bar .img-tarotista img{
        max-width: 100px;
        width: 100%;
        padding: 5px;
    }

    #header .call-to-action-btn{
        padding: 10px 0px 15px 0px;
        width: 185px;
        box-shadow: 2px 2px 5px 0 #000;
        border-radius: 0px;
    }
    #header .call-to-action-btn h5{
        font-size: 28px;
        line-height: 18px;
        letter-spacing: -1px;
        margin-bottom: 5px;
    }
    #header .call-to-action-btn p{
        font-size: 20px;
        line-height: 20px;
        
    }
}

@media (max-width:771px){
    #header .top-bar{
        padding: 0;
    }
    #header .top-bar .img-tarotista img{
        max-width: 100px;
        width: 100%;
        padding: 5px;
    }
    #header .call-to-action-btn{
        padding: 0px 0px 8px 0px;
        width: 195px;
        box-shadow: 2px 2px 5px 0 #000;
        border-radius: 0px;
    }
    #header .call-to-action-btn h5{
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.5px;
        margin-bottom: -5px;
    }
    #header .call-to-action-btn p{
        font-size: 13px;
        line-height: 15x;
        
    }
}

/* form */
.form{
    background: #f3b61f;
    padding: 30px 40px 70px 40px;
    width: 80%;
    border-radius: 30px;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}
.form .title h2{
    color: #fff;
    font-size: 85px;
    line-height: 70px;
}
.form .title img{
    width: 100%;
}
.form .form-title{
    padding: 40px 0 50px 0;
}
.form .form-title h3{
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
}
.form .form-group {
    padding: 0;
    margin: 0;
}
.form .form-group input{
    margin: 10px;
    width: 100%;
    border-style: none;
    font-size: 30px;
    background: #e3e3e3;
    border-radius: 20px;
    text-indent: 15px;
    font-family: 'subtitulos';
    letter-spacing: -1px;
}
.form .boton{
    margin-top: 30px;
}
.form .boton .btn-1{
    font-size: 34px;
    text-transform: uppercase;
    font-family: 'subtitulos';
    border-style: none;
    background: #bbd8b3;
    border-radius: 20px;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.form .boton .btn-2{
    font-size: 34px;
    text-transform: uppercase;
    font-family: 'subtitulos';
    border-style: none;
    background: greenyellow;
    border-radius: 20px;
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 15px;
}


@media (max-width:1200px){
    .form{
        padding: 5px 20px 40px 20px;
        width: 90%;
        border-radius: 30px;
    }
    .form .form-title{
        padding: 40px 0 30px 0;
    }
    .form .form-title h3{
        font-size: 35px;
        text-align: center;
        letter-spacing: -1px;
    }
    .form .form-group input{
        margin: 10px;
        font-size: 30px;
        border-radius: 10px;
        text-indent: 15px;
        letter-spacing: -2px;
        height: 50px;
    }
    .form .boton button{
        font-size: 44px;
        border-radius: 13px;
        width: 200px;
    }
}
@media (max-width:771px){
    .form{
        padding: 5px 20px 20px 20px;
        width: 100%;
        border-radius: 15px;
    }

    .form .title img{
        width: 80%;
        display: block;
        margin: auto;
    }

    .form .form-title{
        padding: 20px 0 20px 0;
    }

    .form .form-title h3{
        font-size: 23px;
        text-align: center;
        letter-spacing: -1px;
    }

    .form .form-group input{
        margin: 10px;
        font-size: 20px;
        border-radius: 10px;
        text-indent: 15px;
        letter-spacing: -1px;
        height: 40px;
    }
    .form .boton{
        margin-top: 15px;
    }
    .form .boton .btn-1{
        font-size: 24px;
        border-radius: 20px;
        width: 200px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    .form .boton .btn-2{
        font-size: 24px;
        border-radius: 20px;
        width: 200px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
}
