.items {
  /* width: 100%;
  float: left; */
}

.single-item {
  /* width: 33.3333%;
  padding: 15px;
  float: left; */
}

.item-box {
  padding: 30px;
  text-align: center;
  position: relative;
  background: #34393e;
  border-radius: 8px;
}
.item-box::before, .item-box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  box-sizing: border-box;
  transition: all 0.8s ease;
}
.item-box::before {
  left: 0;
  bottom: 0;
  border-radius: 8px;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}
.item-box::after {
  right: 0;
  top: 0;
  border-radius: 8px;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
}

.single-item:hover .item-box::before,
.single-item:hover .item-box::after {
  width: 100%;
  height: 100%;
  border-color: #2e3192;
}

.icon-area {
  font-size: 50px;
  color: #fff;
  transition: color 0.8s ease;
}

.single-item:hover .icon-area {
  color: deepskyblue;
}

.item-box h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.item-box p {
  color: #ddd;
  font-size: 15px;
  line-height: 23px;
}

@media screen and (max-width: 767px) {
  .single-item {
    width: 100%;
  }
}