@font-face {
    font-family: 'titulos';
    src: url(../css/fonts/RobotoCondensed-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'cuerpo';
    src: url(../css/fonts/RobotoCondensed-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'light';
    src: url(../css/fonts/RobotoCondensed-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
body{
    
    background-size: 100%;
}
body{
    background: url(../img/bg.jpg) top;
    background-repeat: repeat;
    background-position: top ;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    z-index: -1;
}
body {
    position: relative;
}
body::before {
    content: "";
    background: #6b5c1649;
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 0;
    right: 0;
    z-index: -1;
}
img{
    width: 100%;
}
h2{
    font-family: 'titulos';
    font-size: 90px;
    text-align: center;
}
h3{
    font-family: 'light';
    text-align: center;
    font-size: 70px;
    font-weight: lighter;
}
p{
    font-family: 'cuerpo';
    font-size: 50px;
    text-align: justify;
    color: #000;
    line-height: 60px;
    margin-bottom: 50px;
}
.bg-special{
    background: #f3e7dedf;
    padding: 80px 0 0 0;
}
@media (max-width:991px) {
    h2{
        font-family: 'titulos';
        font-size: 50px;
        text-align: center;
    }
    h3{
        font-family: 'light';
        text-align: center;
        font-size: 70px;
        font-weight: lighter;
    }
    p{
        font-family: 'cuerpo';
        font-size: 30px;
        text-align: justify;
        color: #000;
        line-height: 40px;
        margin-bottom: 40px;
    }
    .bg-special{
        background: #f3e7dedf;
        padding: 80px 0 0 0;
    }
}
@media (max-width:767px){
    .container{
        max-width: 320px;
    }
    h2{
        font-family: 'titulos';
        font-size: 22px;
        text-align: center;
    }
    h3{
        font-family: 'light';
        text-align: center;
        font-size: 20px;
        font-weight: lighter;
    }
    p{
        font-family: 'cuerpo';
        font-size: 14px;
        text-align: justify;
        color: #000;
        line-height: 19px;
        margin-bottom: 19px;
    }
    .bg-special{
        background: #f3e7dedf;
        padding: 20px 0 0 0;
    }
}

/* header */
#header{
    padding: 50px 0;
}
#header .logo{
    padding: 10px 30px;
}
@media (max-width:991px){
    #header{
        padding: 20px 0;
    }
    #header .logo{
        padding: 10px 30px;
    }
}
@media (max-width:767px){
    #header{
        padding: 0px 0;
    }
    #header .logo{
        padding: 10px 30px;
    }
}

/* contact */
#contact{
    padding: 30px 0;
}
#contact .form{
    background: #e6dbb3dd;
    padding: 30px 80px;
}
#contact .title{
    color: #000;
    margin-bottom: 80px;
}
#contact .form-group{
    margin-bottom: 50px;
}
#contact .form-group input{
    font-family: 'cuerpo';
    background: #f3e7de;
    border-style: none;
    border-radius: 0;
    font-size: 70px;
    height: 90px;
    color: #000;
}
#contact .form-group input::placeholder{
    color: #000;
    opacity: 10;
}
#contact .form-group select{
    appearance: none;
    width: 100%;
    font-family: 'cuerpo';
    background: #f3e7de;
    border-style: none;
    border-radius: 0;
    font-size: 70px;
    height: 90px;
    color: #000;
}
#contact .form-group-check input{
    height: 40px;
    width: 40px;
    margin-right: 9px;
}
#contact .form-group-check label{
    font-family: 'cuerpo';
    font-size: 45px;
    color: #000;
}
#contact .btn-send{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
#contact input[type="submit"]{
    border-style: none;
    font-size: 70px;
    background: #5b451d;
    color: #fff;
    font-family: 'titulos';
    padding: 0px;
    width: 80%;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}
@media (max-width:991px){
    #contact{
        padding: 10px 0;
    }
    #contact .form{
        background: #e6dbb3dd;
        padding: 20px 80px;
    }
    #contact .title{
        color: #000;
        margin-bottom: 50px;
    }
    #contact .form-group{
        margin-bottom: 40px;
    }
    #contact .form-group input{
        font-family: 'cuerpo';
        background: #f3e7de;
        border-style: none;
        border-radius: 0;
        font-size: 44px;
        height: 80px;
        color: #000;
    }
    #contact .form-group select{
        appearance: none;
        width: 100%;
        font-family: 'cuerpo';
        background: #f3e7de;
        border-style: none;
        border-radius: 0;
        font-size: 44px;
        height: 80px;
        color: #000;
        text-indent: 7px;
    }
    #contact .form-group-check input{
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
    #contact .form-group-check label{
        font-family: 'cuerpo';
        font-size: 25px;
        color: #000;
    }
    #contact input[type="submit"]{
        border-style: none;
        font-size: 44px;
        background: #5b451d;
        color: #fff;
        font-family: 'titulos';
        padding: 0px;
        width: 80%;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    }
}
@media (max-width:767px){
    #contact{
        padding: 10px 0;
    }
    #contact .form{
        background: #e6dbb3dd;
        padding: 5px 30px;
    }
    #contact .title{
        color: #000;
        margin-bottom: 20px;
    }
    #contact .form-group{
        margin-bottom: 20px;
    }
    #contact .form-group input{
        font-family: 'cuerpo';
        background: #f3e7de;
        border-style: none;
        border-radius: 0;
        font-size: 24px;
        height: 50px;
        color: #000;
    }
    #contact .form-group select{
        appearance: none;
        width: 100%;
        font-family: 'cuerpo';
        background: #f3e7de;
        border-style: none;
        border-radius: 0;
        font-size: 24px;
        height: 50px;
        color: #000;
        text-indent: 5px;
    }
    #contact .form-group-check input{
        height: 15px;
        width: 15px;
        margin-right: 3px;
    }
    #contact .form-group-check label{
        font-family: 'cuerpo';
        font-size: 12px;
        color: #000;
    }
    #contact .btn-send{
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    #contact input[type="submit"]{
        border-style: none;
        font-size: 24px;
        background: #5b451d;
        color: #fff;
        font-family: 'titulos';
        padding: 0px;
        width: 80%;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    }
}

/* about-us */
#about-us{
    padding: 50px 0;
}
#about-us .title{
    color: #fff;
    max-width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 80px;
}
#about-us .img-about-us{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
#about-us .img-about-us img{
    max-width: 850px;
    width: 100%;
    margin-bottom: -130px;
}
@media (max-width:991px){
    #about-us .img-about-us{
        margin-top: 80px;
    }
    #about-us .img-about-us img{
        max-width: 550px;
        width: 100%;
        margin-bottom: -130px;
    }
}
@media (max-width:767px){
    #about-us{
        padding: 20px 0;
    }
    #about-us .title{
        color: #fff;
        max-width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    #about-us .img-about-us{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    #about-us .img-about-us img{
        max-width: 200px;
        width: 100%;
        margin-bottom: -50px;
    }
}
/* tarot */
#tarot{
    padding: 130px 0 80px 0;
}
#tarot .title{
    color: #fff;
    margin-bottom: 80px;
}
@media (max-width:991px){
    #tarot{
        padding: 130px 0 40px 0;
    }
}
@media (max-width:767px){
    #tarot{
        padding: 30px 0 10px 0;
    }
    #tarot .title{
        color: #fff;
        margin-bottom: 20px;
    }
}

/* call-to-action */
#call-to-action{
    padding: 0 0 200px 0;
}
.btn-call-to-action{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.btn-call-to-action .btn{
    background: #5b451d;
    color: #fff;
    font-family: 'titulos';
    border-style: none;
    border-radius: 0;
    font-size: 70px;
    padding: 0 60px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}
#call-to-action .title{
    color: #fff;
}
@media (max-width:991px){
    .btn-call-to-action .btn{
        background: #5b451d;
        color: #fff;
        font-family: 'titulos';
        border-style: none;
        border-radius: 0;
        font-size: 50px;
        padding: 0 60px;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    }
}
@media (max-width:767px){
    #call-to-action{
        padding: 0 0 100px 0;
    }
    .btn-call-to-action{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .btn-call-to-action .btn{
        background: #5b451d;
        color: #fff;
        font-family: 'titulos';
        border-style: none;
        border-radius: 0;
        font-size: 20px;
        padding: 0 20px;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    }
}