/* Tirada de cartas */
.card{
  padding: 15px;
  border-style: none;
  background: transparent;
}
.carta {
  width: 280px;
  border-radius: 20px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);
}
@media (max-width:1200px){
  .carta {
    width: 250px;
  }
}
@media (max-width:991px){
  .carta {
    width: 180px;
  }
}
@media (max-width:767px){
  .card{
    padding: 5px;
  }
  .carta {
    width: 80px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
  }
}