@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @font-face {
    font-family: 'titulos';
    src: url(../css/fonts/Quicksand_Bold.otf) format('truetype');
    font-style: normal;
    font-weight: normal;
} */
img{
    width: 100%;
}
body{
    background: url(../img/bg.jpg)top;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Nuosu SIL', serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
    color: #c3503b;
}
h4{
    font-size: 37px;
    font-weight: 300;
    color: #af8a84;
}
h5{
    font-size: 37px;
    font-weight: 300;
    color: #af8a84;
    text-align: center;
    line-height: 50px;
}
b{
    font-weight: 600;
}
.italic{
    font-style: italic;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.container{
    max-width: 1000px;
}
@media (max-width:991px) {
    h1{
        font-size: 50px;
        margin-bottom: 30px;
    }
    h4{
        font-size: 32px;
    }
    h5{
        font-size: 25px;
        line-height: 35px;
    }
}
@media (max-width:767px){
    .container{
        max-width: 350px;
    }
    h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    h4{
        font-size: 15px;
    }
    h5{
        font-size: 12px;
        line-height: 17px;
    }
}

/* header */
#header .logo img{
    max-width: 550px;
    width: 100%;
    display: block;
    margin: auto;
}
#header .sub-title{
    margin-top: 70px;
}
@media (max-width:991px){
    #header .logo img{
        max-width: 450px;
    }
    #header .sub-title{
        margin-top: 100px;
    }
}
@media (max-width:767px){
    #header .logo img{
        max-width: 200px;
    }
    #header .sub-title{
        margin-top: 40px;
    }
}

/* contact */
#contact{
    padding: 50px 0;
}
.card-block{
    background: #e2c7b2a1;
    padding: 50px 0;
}
.input-block{
    padding: 40px 0 0 0;
}
.input-block .title{
    margin-bottom: 40px;
}
.form .form-group{
    margin-bottom: 30px;
    padding: 0 130px;
}
.form .form-group input{
    border-style: none;
    border-radius: 0;
    font-size: 35px;
    font-weight: 300;
    border: 1px #af8a84 solid;
    padding: 10px;
    height: 60px;
    color: #af8a84;
}
.form .form-group input::placeholder{
    color: #af8a84;
    opacity: 10;
}
.form-group-check{
    padding: 0 150px;
    margin-bottom: 30px;
}
.form-group-check input{
    height: 17px;
    width: 17px;
    margin-right: 10px;
}
.form-group-check label{
    font-weight: 300;
    font-size: 20px;
}
.form-group-check label a{
    text-decoration: none;
    color: #000;
}
.btn-send .btn{
    background: #c3503b;
    font-size: 42px;
    display: block;
    margin: auto;
    border-radius: 0;
    padding: 10px 80px;
    font-weight: 600;
    font-style: italic;
    border-style: none;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: -2px;
    text-shadow: 5px 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width:991px){
    #contact{
        padding: 40px 0;
    }
    .card-block{
        background: #e2c7b2a1;
        padding: 40px 0;
    }
    .input-block{
        padding: 40px 0 0 0;
    }
    .input-block .title{
        margin-bottom: 40px;
    }
    .form .form-group{
        margin-bottom: 25px;
        padding: 0 60px;
    }
    .form .form-group input{
        font-size: 30px;
        padding: 10px;
        height: 50px;
        color: #af8a84;
    }
    .form-group-check input{
        height: 18px;
        width: 18px;
        margin-right: 7px;
    }
    .form-group-check label{
        font-weight: 300;
        font-size: 18px;
    }
    .btn-send .btn{
        font-size: 32px;
        padding: 10px 70px;
        font-weight: 600;
        font-style: italic;
        border-style: none;
        box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);
        letter-spacing: -1px;
        text-shadow: 5px 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    }
}
@media (max-width:767px){
    #contact{
        padding: 20px 0;
    }
    .card-block{
        background: #e2c7b2a1;
        padding: 10px 0;
    }
    .input-block{
        padding: 10px 0 0 0;
    }
    .input-block .title{
        margin-bottom: 20px;
    }
    .form .form-group{
        margin-bottom: 15px;
        padding: 0 30px;
    }
    .form .form-group input{
        font-size: 15px;
        padding: 10px;
        height: 40px;
        color: #af8a84;
    }
    .form-group-check{
        padding: 0 35px;
        margin-bottom: 15px;
    }
    .form-group-check input{
        height: 12px;
        width: 12px;
        margin-right: 4px;
    }
    .form-group-check label{
        font-weight: 300;
        font-size: 10px;
    }
    .btn-send .btn{
        font-size: 15px;
        padding: 10px 40px;
        font-weight: 600;
        font-style: italic;
        border-style: none;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
        letter-spacing: 0px;
        text-shadow: 5px 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    }
}

/* about us */
#about-us{
    padding: 80px 0;
    background: url(../img/bg-about-us.png)top;
    background-size: cover;
    background-repeat: no-repeat;
}
.content-img-tarotist{
    float: right;
    padding: 25px 40px;
}
.content-img-tarotist img{
    max-width: 300px;
}
#about-us .content-text p{
    font-size: 25px;
    text-align: justify;
    margin-bottom: 40px;
}

@media (max-width:991px){
    #about-us{
        padding: 40px 0;
    }
    .content-img-tarotist{
        float: right;
        padding: 15px 20px;
    }
    .content-img-tarotist img{
        max-width: 270px;
    }
    #about-us .content-text p{
        font-size: 30px;
        text-align: justify;
        margin-bottom: 30px;
    }
}
@media (max-width:767px){
    #about-us{
        padding: 20px 0;
    }
    .content-img-tarotist{
        float: none;
        padding: 0px 20px;
    }
    .content-img-tarotist img{
        max-width: 150px;
        width: 100%;
        display: block;
        margin: auto;
    }
    #about-us .content-text p{
        font-size: 14px;
        text-align: justify;
        margin-bottom: 20px;
    }
}

/* call-to-action */
#call-to-action{
    padding: 80px 0;
}
.btn-call{
    margin-top: 50px;
}
.btn-call-1 .btn{
    background: #c3503b;
    color: #fff;
    font-size: 52px;
    display: block;
    margin: auto;
    border-radius: 0;
    width: 600px;
    padding: 0;
    font-weight: 600;
    font-style: italic;
    border-style: none;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: -3px;
    text-shadow: 5px 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.btn-call-1 .tarif{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}
.btn-call-2 .btn{
    background: #e2c7b2;
    color: #c3503b;
    font-size: 52px;
    display: block;
    margin: auto;
    border-radius: 0;
    width: 600px;
    padding: 0;
    font-weight: 600;
    font-style: italic;
    border-style: none;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: -3px;
    text-shadow: 5px 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.btn-call-2 .tarif{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
@media (max-width:991px){
    #call-to-action{
        padding: 40px 0;
    }
    .btn-call{
        margin-top: 20px;
    }
    .btn-call-1 .btn{
        font-size: 42px;
        width: 450px;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
        letter-spacing: -3px;
        text-shadow: 5px 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    }
    .btn-call-1 .tarif{
        text-align: center;
        margin-top: 10px;
        font-size: 15px;
    }
    .btn-call-2 .btn{
        font-size: 42px;
        width: 450px;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
        letter-spacing: -3px;
        text-shadow: 5px 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    }
    .btn-call-2 .tarif{
        text-align: center;
        margin-top: 10px;
        font-size: 15px;
    }
    @media (max-width:767px){
        #call-to-action{
            padding: 20px 0;
        }
        .btn-call{
            margin-top: 14px;
        }
        .btn-call-1 .btn{
            font-size: 22px;
            width: 250px;
            box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
            letter-spacing: -1px;
            text-shadow: 5px 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        }
        .btn-call-1 .tarif{
            text-align: center;
            margin-top: 6px;
            font-size: 10px;
        }
        .btn-call-2 .btn{
            font-size: 22px;
            width: 250px;
            box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
            letter-spacing: -1px;
            text-shadow: 5px 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        }
        .btn-call-2 .tarif{
            text-align: center;
            margin-top: 6px;
            font-size: 9px;
        }
    }
}