/* Tirada de cartas */
.card{
  padding: 0px;
  border-style: none;
  background: transparent;
}
.carta {
  width: 100%;
  border-radius: 10px;
}
.carta{
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.7);
}
@media (max-width:1200px){
  /* .carta {
    width: 250px;
  } */
}
@media (max-width:991px){
  /* .carta {
    width: 180px;
  } */
}
@media (max-width:767px){
  .card{
    padding: 5px;
    border-style: none;
    background: transparent;
  }
  .carta {
    width: 100%;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
  }
}