ul { list-style: none; }
a { text-decoration: none; color: #fff;}
a:hover{text-decoration: none; color: #fff;}
ul .firts-item{
    height: 80px;
}
ul li .menu-link{
    color: #fff;
}
ul li .menu-link:hover{
    text-decoration: none; color: #fff;
}
#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}

#menu-wrapper .tittle{
    float: right;
    margin-top: -52px;
    color: #3e3860;
}

#menu-wrapper #hamburger-menu {
    position: relative;
    width: 75px;
    height: 12px;
    margin: 15px;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 9px;
    border-radius: 0px;
    color: black;
    background-color: #3e3860;
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
    z-index: 999;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0px;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 22px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 43px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    transform: translateY(21px) rotate(135deg);
    background-color: #fff;
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    transform: translateY(-21px) rotate(-135deg);
    background-color: #fff;
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu-container .menu-list {
    margin-top: -105px;
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 400px;
    background: #3e3860;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 990;
    overflow-y: auto;
    overflow-x: hidden;
    left: -120%;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}
#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
}

  .accordion-content {
    display: none;
}
@media (max-width:1200px){
    #menu-wrapper .tittle {
        margin-top: -48px;
    }
    #menu-container .menu-list {
        margin-top: -88px;
    }
}

@media (max-width:991px){
    ul li .menu-link{
        font-size: 14px;
    }
    #menu-wrapper .tittle{
        margin-top: -42px;
    }
    #menu-wrapper #hamburger-menu {
        position: relative;
        width: 25px;
        height: 12px;
        margin: 15px;
    }
    #menu-wrapper #hamburger-menu span {
        opacity: 1;
        left: 0;
        display: block;
        width: 100%;
        height: 6px;
        border-radius: 0px;
        color: black;
        background-color: #3e3860;
        position: absolute;
        transform: rotate(0deg);
        transition: .4s ease-in-out;
    }
    #menu-wrapper #hamburger-menu span:nth-child(1) {
        top: 0px;
    }
    #menu-wrapper #hamburger-menu span:nth-child(2) {
        top: 14px;
    }
    #menu-wrapper #hamburger-menu span:nth-child(3) {
        top: 28px;
    }
    #menu-wrapper #hamburger-menu.open span:nth-child(1) {
        transform: translateY(14px) rotate(135deg);
    }
    #menu-wrapper #hamburger-menu.open span:nth-child(2) {
        opacity: 0;
        transform: translateX(-60px);
    }
    #menu-wrapper #hamburger-menu.open span:nth-child(3) {
        transform: translateY(-14px) rotate(-135deg);
    }
    #menu-container .menu-list {
        margin-top: -65px;
        max-width: 300px;
    }
    #menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
        font-size: 16px;
        padding: 10px;
        text-transform: uppercase;
        border-top: 1px solid #dbdcd2;
    }
    ul .firts-item{
        height: 50px;
    }
}
@media (max-width:767px){
    ul li .menu-link{
        font-size: 10px;
    }
    #menu-wrapper .tittle{
        margin-top: -2px;
    }
    #menu-wrapper #hamburger-menu {
        position: relative;
        width: 35px;
        height: 0px;
        margin: 0px;
    }
    #menu-wrapper #hamburger-menu span {
        opacity: 1;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 0px;
        color: black;
        background-color: #3e3860;
        position: absolute;
        transform: rotate(0deg);
        transition: .4s ease-in-out;
    }
    #menu-wrapper #hamburger-menu span:nth-child(1) {
        top: 0px;
    }
    #menu-wrapper #hamburger-menu span:nth-child(2) {
        top: 10px;
    }
    #menu-wrapper #hamburger-menu span:nth-child(3) {
        top: 20px;
    }
    #menu-wrapper #hamburger-menu.open span:nth-child(1) {
        transform: translateY(10px) rotate(125deg);
    }
    #menu-wrapper #hamburger-menu.open span:nth-child(2) {
        opacity: 0;
        transform: translateX(-60px);
    }
    #menu-wrapper #hamburger-menu.open span:nth-child(3) {
        transform: translateY(-10px) rotate(-125deg);
    }
    #menu-container .menu-list {
        margin-top: -40px;
        max-width: 200px;
    }
    #menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
        font-size: 16px;
        padding: 10px;
        text-transform: uppercase;
        border-top: 1px solid #dbdcd2;
    }
    ul .firts-item{
        height: 40px;
    }
}
/* .accordion-toggle a:before, .accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: #5a5858;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-out;
} */

/* .accordion-toggle a:before {
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
} */

/* .accordion-toggle.active-tab {
  background: yellowgreen;
  transition: all 0.3s ease;
}
.accordion-toggle a.active:before {
    transform: rotate(0deg);
    background: #fff !important;
}

.accordion-toggle a.active:after {
    transform: rotate(180deg);
    background: #fff !important;
    opacity: 0;
} */