@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
    font-family: 'titulosh1';
    src: url(../css/fonts/myriad-pro-semibold.otf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'sub-titulos';
    src: url(../css/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'cuerpo';
    src: url(../css/fonts/OpenSans-CondLight.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'cuerpob';
    src: url(../css/fonts/OpenSans-CondBold.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'oferta-p';
    src: url(../css/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'firma';
    src: url(../css/fonts/Autography.otf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

body{
    background: #c4bce2;
}
h1{
    font-size: 93px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
h2{
    font-size:85px ;
    text-transform: uppercase;
    font-weight: bold;
}
h4{
    font-size: 50px;
}
p{
    font-family: 'cuerpo';
}
b{
    font-family: 'cuerpob';
}
.tittle-n{
    background: #c4bce2;
    width: 100%;
    text-align: center;
    padding: 20px;
}
@media (max-width:1200px) {
    h1{
        font-size: 73px;
    }
    h2{
        font-size:65px ;
    }
}
@media (max-width:991px){
    h1{
        font-size: 53px;
    }
    h2{
        font-size:45px ;
    }
}
@media (max-width:767px){
    h1{
        font-size: 23px;
    }
    h2{
        font-size:25px ;
    }
}

/* fixed-bar */
.fixed-bar{
    background: #53f52f;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 2;
}
.fixed-bar .btn-primary{
    background: #53f52f;
    width: 100%;
    border-style: none;
    color: #000;
}
.fixed-bar p{
    font-size: 70px;
    font-weight: lighter;
    margin: 0;
    line-height: 25px;
    text-align: center;
}
.fixed-bar p span{
    font-size: 20px;
    text-align: center;
}
@media (max-width:991px){
    .fixed-bar p{
        font-size: 40px;
        line-height: 15px;
    }
    .fixed-bar p span{
        font-size: 10px;
    }
}
@media (max-width:767px){
    .fixed-bar p{
        font-size: 20px;
        line-height: 8px;
    }
    .fixed-bar p span{
        font-size: 6px;
    }
}

/* modales */
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    outline: 0;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 0px;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
.modal-body{
    margin-top: -20px;
    color: #3e3860;
}
.modal-body h3{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: ;
    font-family: 'Roboto Condensed', sans-serif;
}
.modal-body h6{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: ;
    color: ;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 40px 0;
}
.modal-body p{
    text-align: justify;
    font-size: 35px;
    line-height: 40px;
}
.modal-body .firma-tarif {
    margin-top: 100px;
}
.modal-body .firma-tarif h6{
    font-family: 'firma';
    text-align: left;
    font-size: 80px;
    line-height: 40px;
}
.modal-body .firma-tarif span{
    font-size: 19px;
    margin-top: -40px;
}
#callUrgentModal .modal-header{
    background: #3e3860;
}
#callUrgentModal .modal-body{
    margin: 0;
}
#callUrgentModal .modal-body p{
    font-size: 35px;
}
#callUrgentModal .modal-footer button{
    display: block;
    margin: auto;
    font-size: 27px;
    background-color: #53f52f;
    border-style: none;
    color: #000;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 30px;
}
@media (max-width:991px){
    .modal-body h3{
        font-size: 40px;
    }
    .modal-body h6{
        font-size: 20px;
        margin: 20px 0;
    }
    .modal-body p{
        text-align: justify;
        font-size: 18px;
        line-height: 20px;
    }
    .modal-body .firma-tarif {
        margin-top: 50px;
    }
    .modal-body .firma-tarif h6{
        font-size: 40px;
        line-height: 10px;
    }
    .modal-body .firma-tarif span{
        font-size: 10px;
        margin-top: -40px;
    }
    #callUrgentModal .modal-body{
        margin: 0;
    }
    #callUrgentModal .modal-body p{
        font-size: 25px;
    }
    #callUrgentModal .modal-footer button{
        font-size: 17px;
        padding: 5px 20px;
    }
}
@media (max-width:767px){
    .modal-body h3{
        font-size: 40px;
    }
    .modal-body h6{
        font-size: 20px;
        margin: 20px 0;
    }
    .modal-body p{
        text-align: justify;
        font-size: 15px;
        line-height: 20px;
    }
    .modal-body .firma-tarif {
        margin-top: 50px;
    }
    .modal-body .firma-tarif h6{
        font-size: 40px;
        line-height: 10px;
    }
    .modal-body .firma-tarif span{
        font-size: 10px;
        margin-top: -40px;
    }
    #callUrgentModal .modal-body{
        margin: 0;
    }
    #callUrgentModal .modal-body p{
        font-size: 18px;
    }
    #callUrgentModal .modal-footer button{
        font-size: 15px;
        padding: 5px 20px;
    }
}

/* header */
#header{
    padding: 20px 0 20px 0;
    background: url(../img/bg.jpg) center;
    background-size: cover;
    position: relative;
}
#header .container{
    position: relative;
}
#header .conten-header .content{
    justify-content: space-between;
}
#header .conten-header .content .cupon-dorado img{
    max-width: 400px;
}
#header .conten-header .img-logo {
    
    
}
#header .conten-header .img-logo img{
    width: 100%;
    display: block;
    margin: auto;
}
@media (max-width:991px){
    #header{
        padding: 20px 0 20px 0;
    }
    #header .conten-header .content .cupon-dorado img{
        max-width: 200px;
    }
    #header .conten-header .content .call-to-action p{
        font-size: 40px;
        line-height: 15px;
    }
    #header .conten-header .content .call-to-action p span{
        font-size: 10px;
    }
    #header .conten-header .img-logo {
        margin-top: 0px;
        margin-right: 0px;
    }
    #header .conten-header .img-logo img{
        width: 100%;
    }
}
@media (max-width:767px){
    #header{
        padding: 20px 0 20px 0;
    }
    #header .content{
        margin-top: 10px;
    }
    #header .conten-header .content .cupon-dorado img{
        max-width: 100px;
    }
    #header .conten-header .content .call-to-action p{
        font-size: 20px;
        line-height: 8px;
    }
    #header .conten-header .content .call-to-action p span{
        font-size: 6px;
    }
    #header .conten-header .img-logo {
        margin-top: 0px;
        margin-right: 0px;
    }
    #header .conten-header .img-logo img{
        width: 100%;
    }
}

/* oferta */
#oferta{
    background: url(../img/bg.jpg);
    padding: 30px;
}
#oferta .tittle {
    padding: 20px 0 40px 0;
}
#oferta .tittle h3{
    text-transform: uppercase;
    font-size: 55px;
    font-weight: bold;
}
#oferta .bono img{
    width: 100%;
    display: block;
    margin: auto;
}
#oferta .content-text p{
    font-size: 80px;
    text-align: center;
    line-height: 90px;
    margin-top: 50px;
    font-family: 'oferta-p';
}
@media (max-width:991px){
    #oferta{
        padding: 20px;
    }
    #oferta .tittle {
        padding: 10px 0 30px 0;
    }
    #oferta .tittle h3{
        font-size: 30px;
    }
    #oferta .bono img{
        width: 100%;
    }
    #oferta .content-text p{
        font-size: 45px;
        line-height: 55px;
        margin-top: 40px;
        font-family: 'oferta-p';
    }
}
@media (max-width:767px){
    #oferta{
        padding: 10px;
    }
    #oferta .tittle {
        padding: 10px 0 20px 0;
    }
    #oferta .tittle h3{
        font-size: 15px;
    }
    #oferta .bono img{
        width: 100%;
    }
    #oferta .content-text p{
        font-size: 20px;
        line-height: 25px;
        margin-top: 20px;
    }
}

/* sobremi */
#sobremi{
    background: url(../img/bg.jpg);
    padding: 0 0 30px 0;
}
#sobremi .sub-tittle{
    padding: 40px 0;
}
#sobremi .sub-tittle h5{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
#sobremi .content-text p{
    font-size: 40px;
    line-height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    text-align: justify;
    margin-bottom: 50px;
}
#sobremi .firma-tarif h6{
    font-family: 'firma';
    font-size: 120px;
    margin: 0;
    line-height: 100px;
}
#sobremi .firma-tarif span{
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    margin-top: 0px;
}
@media (max-width:991px){
    #sobremi{
        padding: 0 0 20px 0;
    }
    #sobremi .sub-tittle{
        padding: 30px 0;
    }
    #sobremi .sub-tittle h5{
        font-size: 30px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    #sobremi .content-text p{
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    #sobremi .firma-tarif h6{
        font-size: 60px;
        margin: 0;
        line-height: 50px;
    }
    #sobremi .firma-tarif span{
        font-size: 16px;
    }
}
@media (max-width:767px){
    #sobremi{
        padding: 0 0 10px 0;
    }
    #sobremi .sub-tittle{
        padding: 20px 0;
    }
    #sobremi .sub-tittle h5{
        font-size: 15px;
    }
    #sobremi .content-text p{
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    #sobremi .firma-tarif h6{
        font-size: 30px;
        margin: 0;
        line-height: 20px;
    }
    #sobremi .firma-tarif span{
        font-size: 8px;
    }
}

/* opiniones */
#opiniones{
    background: #c4bce2;
    padding: 0 0 20px 0;
}
#opiniones .opinion {
    margin-top: 0px;
}
#opiniones .opinion .img-test img{
    max-width: 400px;
    width: 100%;
    display: block;
    margin: auto;
}
#opiniones .opinion .name {
    margin-top: 0px;
}
#opiniones .opinion .name h5{
    font-size: 45px;
    font-weight: bold;
}
#opiniones .opinion .calification{
    padding: 10px 0 20px;
}
#opiniones .opinion .calification img{
    max-width: 280px;
    width: 100%;
}
#opiniones .opinion .content-opinion p{
    font-size: 40px;
    line-height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    text-align: justify;
}
#opiniones .img-logo {
    margin-right: 120px;
}
#opiniones .img-logo img{
    max-width: 700px;
    width: 100%;
    display: block;
    margin: auto;
}
#opiniones .content-footer{
    padding-top: 30px;
}
#opiniones .content-footer p{
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-family: 'cuerpo';
    font-weight: lighter;
    color: #fff;
}
@media (max-width:991px){
    #opiniones{
        padding: 0;
    }
    #opiniones .opinion {
        margin-top: 50px;
    }
    #opiniones .opinion .img-test img{
        max-width: 200px;
    }
    #opiniones .opinion .name {
        margin-top: 30px;
    }
    #opiniones .opinion .name h5{
        font-size: 30px;
        font-weight: bold;
    }
    #opiniones .opinion .calification{
        padding: 5px 0 10px;
    }
    #opiniones .opinion .calification img{
        max-width: 180px;
        width: 100%;
    }
    #opiniones .opinion .content-opinion p{
        font-size: 25px;
        line-height: 30px;
    }
    #opiniones .img-logo {
        margin-right: 70px;
    }
    #opiniones .img-logo img{
        max-width: 400px;
    }
    #opiniones .content-footer{
        padding-top: 0px;
    }
    #opiniones .content-footer p{
        font-size: 25px;
        margin: 0;
    }
}
@media (max-width:767px){
    #opiniones{
        padding: 0;
    }
    #opiniones .opinion {
        margin-top: 30px;
    }
    #opiniones .opinion .img-test img{
        max-width: 100px;
    }
    #opiniones .opinion .name {
        margin-top: 20px;
    }
    #opiniones .opinion .name h5{
        font-size: 14px;
    }
    #opiniones .opinion .calification{
        padding: 2px 0 5px;
    }
    #opiniones .opinion .calification img{
        max-width: 85px;
    }
    #opiniones .opinion .content-opinion p{
        font-size: 13px;
        line-height: 20px;
    }
    #opiniones .img-logo {
        margin-right: 30px;
    }
    #opiniones .img-logo img{
        max-width: 200px;
    }
    #opiniones .content-footer{
        padding-top: 0px;
    }
    #opiniones .content-footer p{
        font-size: 13px;
        margin: 0;
    }
}